//数字银行首页
.digitalBankPage{
    width: 898px;
    height: 100%;
    margin: 70px auto;
    margin-bottom: 0;
    background: #FFF;
  .apply{
        width: 100%;
        height: 226px;
        padding: 0 42px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: url("/img/编组 19@2x.png") no-repeat;
        background-size: 100% 100%;
        >p{
            font-size:24px;
            font-weight:500;
            color:rgba(255,255,255,1);
            margin-top: 15px;
          }
        .dropdown{
          position: relative;
          span{
            cursor: pointer;
          }
          .dropdown-content{
            width: 110px;
            background:rgba(247,247,247,1);
            border-radius:4px;
            position: absolute;
            top: 20px;
            right:0;
            display: flex;
            flex-direction: column;
            a{
              width: 100%;
              height: 45px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              img{
                width: 16px;
                height: 14px;
                margin-right:4px;
              }
              label{
                font-size:14px;
                font-weight:400;
                color:rgba(51,51,51,1);
                cursor: pointer;
              }
            }
          }
        }
        .total{
          height: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 35px;
          
          p{
            height: 10px;
            font-size:12px;
            font-weight:400;
            color:rgba(255,255,255,1);
            display: flex;
            align-items: center;
            i{
              width: 14px;
              height: 10px;
              display: flex;
              margin-left: 5px;
              margin-top: 2px;
              cursor: pointer;
              img{
                width: 100%;
                height: 100%;
              }
            }
          }
          span{
            width: 17px;
            height: 17px;
            display: flex;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        .applyContent{
          display: flex;
          margin-top: 20px;
          div:nth-child(1){
            p{
              display: flex;
              align-items: center;
              margin-bottom:12px!important;
              img{
                width: 11px;
                height: 12px;
                margin-right:8px;
              }
              label{
                font-size:12px;
                font-weight:400;
                color:rgba(255,255,255,1);
              }
              span{
                font-size:12px;
                font-weight:500;
                color:rgba(255,255,255,1);
                margin-left: 18px;
              }
            }
          }
          .earnings{
            height: 20px;
            padding-left:6px;
            padding-right: 5px;
            box-sizing: border-box;
            background:rgba(251,143,11,.1);
            border-radius:4px;
            font-size:12px;
            font-weight:400;
            color:rgba(251,143,11,1);
            margin-top: 25px;
            margin-left: 24px;
            img{
              width: 11px;
              height: 7px;
              margin-right: 3px;
            }
          }
        }
  }
  .tabList {
        width: 100%;
        height: 300px;
        padding: 26px 30px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 1);
        border-radius: 24px 24px 0px 0px;
        margin-top: -20px;
        .tabs{
          display: flex;
          justify-content: space-between;
          .goRules{
            width: 125px;
            height: 26px;
            background: url('/img/m_编组 188@2x.png')no-repeat;
            background-size: 100%;
            background-position: center center;
            display: flex;
            align-items: center;
            padding-left: 11px;
            box-sizing: border-box;
            cursor: pointer;
            p{
            font-size: 12px;
            // font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #7540FD;
            span{
              font-size: 14px;
              font-weight: bold;
              letter-spacing: -7px;
            }
            }

          }
        }
        .tab{
           margin-bottom: 26px;
           margin-left: 10px;
           span{
            font-size:12px;
            font-weight:400;
            color:rgba(153,153,153,1);
            margin-right: 24px;
            cursor: pointer;
           }
           .active{
            font-size:16px;
            font-weight:500;
            color:rgba(51,51,51,1);
           }
        }
        .tabLists{
          .everyList{
            width: 100%;
            height: 60px;
            background:rgba(247,247,249,1);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px;
            box-sizing: border-box;
            cursor: pointer;
            margin-bottom:10px;
            p:nth-child(1){
              display: flex;
              align-items: center;
              img{
                width: 36px;
                height: 36px;
                border-radius: 50%;
              }
              span{
                font-size:16px;
                font-weight:400;
                color:rgba(51,51,51,1);
                margin-left: 12px;
                margin-right: 20px;
              }
              label{
                font-size:12px;
                font-weight:400;
                color:rgba(153,153,153,1);
              }
            }
            p:nth-child(2){
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              span{
                font-size:18px;
                font-weight:bold;
                color:rgba(19,183,136,1);
              }
              label{
                font-size:10px;
                font-weight:400;
                color:rgba(153,153,153,1);
              }
            }
          }
        }
  }
}
//下拉列表

//映射页面
.mapping{
    width: 100%;
    height: 100%;
    background: #FFF;
    overflow-x: hidden;
    >div{
      width: 1071px;
      margin: 0 auto;
    }
    .ant-breadcrumb {
        display: flex;
        align-items: center;
        margin-top: 63px;
        margin-left: 60px;
         span{
          display: flex;
          align-items: center;
        }
        a{
            font-size: 14px;
            display: flex;
            align-items: center;
            img{
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
        }
        a:hover{
            color: #5C5C5C;
        }
    }
    .mappingContent{
        width: 636px;
        height: auto;
        margin: 0 auto;
        .ETHTokenWrap{
          width: 100%;
          height:138px;
          background: #F7F7F9;
          border-radius: 8px;
          margin-top: 65px;
          padding-left: 23px;
          padding-top: 25px;
          box-sizing: border-box;
          h4{
            margin-bottom: 16px!important;
            font-size: 16px;
            font-weight: 500;
            color: #999999;
          }
          .ETHTokenWrapList{
            display: flex;
            .tokenList1{
              p{
              font-size: 14px;
              font-weight: 400;
              color: #333333;
              white-space: nowrap;
              }
              a{
              font-size: 14px;
              font-weight: 400;
              color: #6131AB;
              display: flex;
              align-items: center;
              img{
                width: 12px;
                height: 13px;
                margin-left: 8px;
              }
              }
            }
            .tokenList2{
              margin-top: -5px;
              display: flex;
              flex-wrap: wrap;
              margin-left:15px;
              span{
                margin-right: 8px;
                margin-bottom: 10px;
                img{
                  width: 68px;
                  height: 22px;
                }
              }
            }
          }
        }
        .mappingList{
            width: 100%;
            h3{
            height: 12px;
            font-size:12px;
            font-weight:400;
            color:rgba(92,92,92,1);
            margin-top: 43px;
            margin-bottom: 12px!important;
            display: flex;
            align-items: center;
            img{
                width: 12px;
                height: 12px;
                margin-right: 4px;
            }
            label{
                font-size:12px;
                font-weight:500;
                color:rgba(92,92,92,1);
            }
        }
        .iptAmount {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100% !important;
          height:48px;
          border-radius: 8px;
          border: 0.5px solid rgba(194,194,194,1);
          padding-right: 10px;
          box-sizing: border-box;
          >input {
            width: 400px;
            height: 100%;
            padding-left: 20px;
            box-sizing: border-box;
            outline: none;
            border: 0;
            border-radius: 8px;
            color: rgba(60, 56, 72, 1);
          }
          input::-webkit-input-placeholder {
            font-size: 14px;
            font-weight: 400;
            color: rgba(158, 156, 164, 1);
          }
          .dropdown1 {
            position: relative;
            display: flex;
            // top: -0.05rem;
            > span {
            width: 100px;
            height: 25px;
            padding: 0 14px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border:0.5px solid #7038FD;
            font-size: 16px;
            font-weight: 400;
            color: #7038FD;
            border-radius: 16px;
            cursor: pointer;

            i {
                display: flex;
                width: 10px;
                height: 10px;
                margin-left: 5px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            }
            
            .dropdown-content1 {
                      width: 375px;
                      height: 338px;
                      padding: 18px 15px;
                      box-sizing: border-box;
                      position: absolute;
                      top: 40px;
                      left: -120px;
                      display: flex;
                      flex-direction: column;
                      background: #FFF;
                      border-radius: 8px;
                      box-shadow:0px 5px 10px 0px rgba(0,0,0,0.07);
                      z-index: 99;
                      overflow: auto;
                      .formSearch{
                        width: 100%;
                        height: 30px;
                        background: rgba(248, 248, 248, 1);
                        display: flex;
                        align-items: center;
                        border-radius: 4px;
                        img{
                          width: 20px;
                          height: 20px;
                          margin: 0 10px;
                        }
                        input{
                          flex: 1;
                          height: 100%;
                          outline: 0;
                          border: 0;
                          background: rgba(248, 248, 248, 1);
                          font-size:14px;
                          font-weight:400;
                        }
                        ::-webkit-input-placeholder{
                          font-size:14px;
                          font-weight:400;
                          color:rgba(153,153,153,1);
                        }
                      }  
                      .searchWrap{
                        flex: 1;
                        overflow: auto;
                        overflow: -moz-scrollbars-none;
                      }
                      .searchWrap::-webkit-scrollbar{
                          display: none;
                      }
                      .searchList{
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                        .searchEvery{
                          display: flex;
                          align-items: center;
                          height: 68px;
                          cursor: pointer;
                          img{
                            width: 44px;
                            height: 44px;
                            margin-right: 10px;
                            border-radius: 50%;
                            border:0.5px solid rgba(224, 224, 224, 1);
                            padding: 5px;
                            box-sizing: border-box;
                          }
                          .searchEvery1{
                            margin-top: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex: 1;
                            border-bottom:0.5px solid rgba(224, 224, 224, 1);
                            padding-bottom: 10px;
                            box-sizing: border-box;
                            h4{
                              font-size:14px;
                              font-weight:400;
                              color:rgba(0,0,0,1);
                              margin-bottom: 0;
                            }
                            p{
                              font-size:12px;
                              font-weight:400;
                              color:rgba(153,153,153,1);
                            }
                            .check{
                              width: 17px;
                              height: 14px;
                              display: flex;
                            
                              // img{
                              //   width: 17px;
                              //   height: 14px;
                              // }
                            }
                            .active{
                              background: url('/img/duigou 2@2x.png') no-repeat;
                              background-size: 100% 100%;
                            }
                          }
                        }
                        .searchEvery:hover .check{
                            background: url('/img/duigou 2@2x.png') no-repeat;
                            background-size: 100% 100%;
                        }
                        
                      }        
            }
          }
          
        }
        .arrow{
            display: flex;
            width: 12px;
            height: 12px;
            margin: 12px auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .showAmount{
            width: 100%;
            height: 48px;
            background:#F7F7F9;
            border-radius:8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 16px;
            padding-right: 23px;
            box-sizing: border-box;
            span,label{
                font-size:14px;
                font-weight:400;
                color:rgba(51,51,51,1);
            }
           
        }
        .ETHAddress{
          input{
            width: 100%;
            height: 48px;
            border-radius: 8px;
            border: 0.5px solid #c2c2c2;
            outline: 0;
            padding-left: 20px;
            box-sizing: border-box;
            margin-top: 16px;
          }
          input::-webkit-input-placeholder {
            font-size: 14px;
            font-weight: 400;
            color: rgba(158, 156, 164, 1);
          }
        }
        .line{
            width:598px;
            border-bottom: 0.5px dashed rgba(60, 56, 72, .2);
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 24px;
        }
        >p{
            margin-left: 18px;
            margin-bottom: 10px!important;
            display: flex;
            label{
                width: 60px;
                font-size:12px;
                font-weight:400;
                color:rgba(153,153,153,1);
                white-space: nowrap;
            }
           
            span{
                font-size:12px;
                font-weight:400;
                color:rgba(51,51,51,1);
            }
        }
        .foot {
          width: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          .btn {
          width: 200px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(97, 49, 171, 1);
          border-radius: 27px;
          font-size:16px;
          font-weight:500;
          color:rgba(255,255,255,1);
          margin-top: 19px;
          margin-bottom: 8px!important;
          cursor: pointer;
        }
        .focusActive{
            background: rgba(75, 30, 144, 1);
          }
        // .active {
        //   background: rgba(135, 108, 192, 1);
        // }
        .descr {
          font-size: 14px;
          font-weight: 400;
        }
        .descrRed{
          color: #E54040;

        }
        .descrWarn{
            color: green;
          }
        }
        
        }
        .mappingRecord{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 35px;
            h4{
              width: 15px;
              font-size:16px;
              font-weight:400;
              color:rgba(61,57,73,1);
              border-bottom: 2px solid rgba(112, 56, 253, 1);
              white-space: nowrap;
            }
            .recordLists{
                width: 100%;
                display: flex;
                flex-direction: column;
                .recordList:first-child{
                    margin-top: 20px;
                }
                .recordList{
                    width: 100%;
                    height: 61px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 0.5px solid rgba(224, 224, 224, 1);
                    div{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        p{
                            font-size:12px;
                            font-weight:400;
                            color:rgba(0,0,0,1);
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px!important;
                            img{
                                width: 12px;
                                height: 12px;
                                margin: 0 5px;
                            }
                        }
                        span{
                            font-size:14px;
                            font-weight:400;
                            color:rgba(19,183,136,1);
                            margin-bottom: 5px;
                        }
                        label{
                          display: flex;
                            font-size:12px;
                            font-weight:400;
                            color:rgba(153,153,153,1);
                        }
                        #gas{
                            font-size:12px;
                            font-weight:400;
                            color:rgba(0,0,0,1);
                            margin-top: 6px;
                            margin-bottom:6px;
                        }
                        .spanGre{
                            color:rgba(19, 183, 136, 1);
                        }
                        .spanRed{
                            color:rgba(229, 64, 64, 1);
                        }
                        .spanYel{
                            color:rgba(251, 143, 11, 1);
                        }
                    }
                    div:nth-child(2){
                        align-items: flex-end;

                    }
                }
            }
        }
    }
}
//存款,借款页面
.borrowDetails,.saveDetails{
    width: 100%;
    // height: 100%;
    padding-bottom: 40px;
    background: rgba(247, 247, 249, 1);
    .ant-breadcrumb {
        display: flex;
        align-items: center;
        margin-top: 63px;
        margin-left: 60px;
        span{
          display: flex;
          align-items: center;
        }
        a{
            font-size: 14px;
            // color: #5C5C5C;
            display: flex;
            align-items: center;
            img{
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
        }
        a:hover{
            color: #5C5C5C;
        }
    }
    .saveDetailsWrap{
      width: 716px;
      margin: 0 auto;
      .saveDetailsList{
        width: 100%;
        height:175px;
        background:rgba(255,255,255,1);
        box-shadow:0px -5px 10px 0px rgba(0,0,0,0.06);
        margin-top: 49px;
        padding: 0 51px;
        padding-top: 30px;
        box-sizing: border-box;
       
        h4{
          display: flex;
          justify-content: space-between;
          label{
            font-size:12px;
            font-weight:400;
            color:rgba(92,92,92,1);
          }
          .dropdown1{
            position: relative;
            >span{
              font-size:12px;
              font-weight:400;
              color:rgba(51,51,51,1);
              display: flex;
              align-items: center;
              cursor: pointer;
              >img{
                width: 14px;
                height: 14px;
                margin-right: 4px;
              }
              i{
                width: 12px;
                height: 12px;
                display: flex;
                margin-left: 3px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .dropdown-content1{
              width: 110px;
              box-shadow:0px 5px 10px 0px rgba(0,0,0,0.07);
              border-radius:4px;
              position: absolute;
              top: 23px;
              left:-35px;
              display: flex;
              flex-direction: column;
              align-items: center;
              background: #FFF;
              span{
                width: 100%;
                height: 45px;
                font-size:12px;
                font-weight:400;
                color:rgba(51,51,51,1);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              >img{
                width: 14px;
                height: 14px;
                margin-right: 4px;
              }
            }
            span:hover{
              background: rgba(247, 247, 247, 1);
            }
            }
          }
        }
        input{
          width: 100%;
          height: 48px;
          outline: 0;
          border: 0;
          margin-top: 8px;
          border-bottom: 0.5px solid rgba(222, 222, 222, 1);
        }
        ::-webkit-input-placeholder{
          color: rgba(222, 222, 222, 1);
        }
        .activeInput{
          border-bottom: 0.5px solid rgba(229, 64, 64, 1);

        }
        .saveDetailsShow{
           p{
             display: flex;
             align-items: center;
             margin-top: 8px;
             img{
               width: 14px;
               height: 14px;
               margin-right: 4px;
             }
             >span{
              font-size:10px;
              font-weight:400;
              color:rgba(112,56,253,1);
              margin-left: 10px;
              cursor: pointer;
             }
             label:nth-child(2){
              font-size:10px;
              font-weight:400;
              color:rgba(92,92,92,1);
             }
             label:nth-child(3){
              font-size:10px;
              font-weight:500;
              color:rgba(92,92,92,1);
             }
           }
           
        }
      }
      .saveDetailsList1{
        width: 100%;
        // height: 219px;
        background:rgba(255,255,255,1);
        box-shadow:0px -5px 10px 0px rgba(0,0,0,0.06);
        margin-top: 10px;
        padding: 0 50px;
        box-sizing: border-box;
        >p{
          width: 100%;
          height: 68px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom:0.5px solid rgba(222, 222, 222, 1);
          label{
            font-size:14px;
            font-weight:400;
            color:rgba(92,92,92,1);
          }
          span{
            font-size:14px;
            font-weight:bold;
            color:rgba(51,51,51,1);
          }
        }
        >p:nth-child(1) span{
          font-size:14px;
          font-weight:bold;
          color:rgba(19,183,136,1);
        }
        >p:nth-child(2){
          height: 79px;
          p{
            display: flex;
            flex-direction: column;
             label{
              font-size:14px;
              font-weight:400;
              color:rgba(92,92,92,1);
            }
            span{
              font-size:12px;
              font-weight:400;
              color:rgba(186,186,186,1);
            }
          }
        }
        >p:last-child{
          border-bottom: 0;
        }
      }
      .foot{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            .btn{
              width: 280px;
              height: 46px;
              display: flex;
              align-items: center;
              justify-content: center;
              background:rgba(97, 49, 171, 1);
              border-radius:23px;
              font-size:18px;
              font-weight:500;
              color:rgba(255,255,255,1);
              margin-top: 30px;
              cursor: pointer;
          }
          .active{
            background:rgba(135,108,192,1);
          }
          .descr{
            font-size:12px;
            font-weight:400;
            margin-top:10px;
          }
          .descrRed{
          color: rgba(209, 26, 67, 1);

          }
          .descrWarn{
              color: green;
            }
      }
      .productDescr{
        width:100%;
        // height:275px;
        background:rgba(255,255,255,1);
        box-shadow:0px -5px 10px 0px rgba(0,0,0,0.06);
        padding: 31px 50px;
        box-sizing: border-box;
        margin-top: 30px;
        .h3{
          display: flex;
          justify-content: space-between;
          align-items: center;
          // margin-bottom: 40px;
          i{
            width: 12px;
            height: 12px;
            display: flex;
            cursor: pointer;
            img{
              width: 100%;
            }
          }
          label{
            font-size:14px;
            font-weight:500;
            color:rgba(92,92,92,1);
            display: flex;
            align-items: center;
            img{
               width: 14px;
               height: 14px;
               margin-left: 3px;
            }
          }
          
        }
        .descr:nth-child(2){
          margin-top:40px;
        }
        .descr{
          margin-bottom: 15px;
          h4{
            font-size:12px;
            font-weight:400;
            color:rgba(92,92,92,1);
          }
          p{
            font-size:10px;
            font-weight:400;
            color:rgba(153,153,153,1);
            margin-top: 3px;
          }
        }
      }
      .question{
        width:100%;
        // height:77px;
        background:rgba(255,255,255,1);
        box-shadow:0px 5px 10px 0px rgba(0,0,0,0.06);
        padding: 0 50px;
        padding-top: 31px;
        padding-bottom: 30px;
        box-sizing: border-box;
        margin-top: 10px;
        .h3{
          display: flex;
          justify-content: space-between;
          align-items: center;
          // margin-bottom: 40px;
          i{
            width: 12px;
            height: 12px;
            display: flex;
            cursor: pointer;
            img{
              width: 100%;
            }
          }
          label{
            font-size:14px;
            font-weight:500;
            color:rgba(92,92,92,1);
            display: flex;
            align-items: center;
            img{
               width: 14px;
               height: 14px;
               margin-left: 3px;
            }
          }
          
        }
        >.descr:nth-child(2){
          margin-top:30px;
        }
        .descr{
          margin-bottom: 15px;
          h4{
            font-size:12px;
            font-weight:400;
            color:rgba(92,92,92,1);
          }
          p{
            font-size:10px;
            font-weight:400;
            color:rgba(153,153,153,1);
            margin-top: 3px;
          }
        }
      }    
    }
}
//存款订单
.borrowOrder,.saveOrder{
  width: 100%;
  
  .ant-breadcrumb {
          display: flex;
          align-items: center;
          margin-top: 63px;
          margin-left: 60px;
          span{
            display: flex;
            align-items: center;
          }
          a{
              font-size: 14px;
              // color: #5C5C5C;
              display: flex;
              align-items: center;
              img{
                  width: 24px;
                  height: 24px;
                  margin-right: 8px;
              }
          }
          a:hover{
              color: #5C5C5C;
          }
      }
  .curSaveLists{
    width: 1071px;
    // min-height: 700px;
    background: #FFF;
    margin: 0 auto;
    margin-top: 17px;
    padding:39px 28px;
    box-sizing: border-box;
    .tab{
      margin-left: 19px;
      display: flex;
      >div{
        display: flex;
        flex-direction: column;
      }
      span{
        width: 22px;
        margin-right: 87px;
        font-size:16px;
        font-weight:400;
        color:rgba(153,153,153,1);
        white-space: nowrap;
        cursor: pointer;
      }
      
      i{
        width: 20px;
        height: 6px;
        background:rgba(112, 56, 253, 1);
        border-radius: 5px;
      }
      .active{
        font-size:16px;
        font-weight:500;
        color:rgba(51,51,51,1);
      }
    }
    .saveDetail{
      .selector{
        margin-top: 40px;
        .ant-picker:hover, .ant-picker-focused{
          border-color:#7038fd!important;
        }
        .ant-picker-input > input:hover {
          border-color:#7038fd!important;
        }
        .ant-picker-range .ant-picker-active-bar{
          background:#7038fd;
        }
        .ant-select{
          margin-left:20px;
        }
        
        .btn{
          display: inline-block;
          text-align: center;
          line-height: 30px;
          width:50px;
          height:30px;
          background:rgba(112,56,253,1);
          border-radius:2px;
          font-size:12px;
          font-weight:400;
          color:rgba(255,255,255,1);
          border: 0;
          outline: 0;
          margin-left: 20px;
          cursor: pointer;
        }
        .btn:hover{
          background:rgba(112, 56, 253, .85);
        }
      }
    }
    .ant-table-wrapper{
      margin-top: 40px;
      .ant-table-thead > tr > th{
        background: #FFF;
        font-size:14px;
        font-weight:400;
        color:rgba(153,153,153,1);
        padding: 10px 16px;
      }
      .ant-table-tbody {
        > tr {
          td{
            border-bottom: 0;
            padding: 30px 16px;
            font-size:16px;
            font-weight:400;
            color:rgba(51,51,51,1);
          }
          .colorRed{
            color: red;
          }
          .colorGre{
            color: rgba(19, 183, 136, 1);
          }
        }
      }
      .ant-pagination{
        margin-top: 30px;
        .ant-pagination-next,.ant-pagination-prev{
        .ant-pagination-item-link:hover{
          border-color: rgba(112, 56, 253, 1);
        }
        .ant-pagination-item-link:hover .anticon{
          color: rgba(112, 56, 253, 1);
        }
        }
        .ant-pagination-disabled{
          .ant-pagination-item-link:hover{
            border-color: #d9d9d9;
          }
          .ant-pagination-item-link:hover .anticon{
            color: #d9d9d9;
          }
        }
        
        li:hover{
         border-color: rgba(112, 56, 253, 1);
         
         a{
           border-color: rgba(112, 56, 253, 1);
           color: rgba(112, 56, 253, 1);
         }
        }
        .ant-pagination-item-active {
            border-color: rgba(112, 56, 253, 1);
        }
      
        .ant-pagination-item-active a {
            color: rgba(112, 56, 253, 1);
        }
      
      }
    }
    
  }
  .extractMark{
      width:100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 9999999;
      display: flex;
      align-items: center;
      justify-content: center;
      .extractContent{
        width:290px;
        height:342px;
        border-radius:4px;
        background: #FFF;
        .extractList{
          width: 244px;
          margin: 0 auto;
          .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;

            h4{
              font-size:20px;
              font-weight:400;
              color:rgba(51,51,51,1);
              margin-bottom: 0!important;
              margin-left: 90px;
            }
            i{
                display: flex;
                width: 20px;
                height: 20px;
                cursor: pointer;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
          }
          .inputDiv{
            width: 100%;
            height: 49px;
            border-radius:3px;
            border:0.5px solid rgba(222,222,222,1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 7px;
            box-sizing: border-box;
            input{
              border: 0;
              outline: 0;
              padding-left: 8px;
              box-sizing: border-box;
            }
            ::-webkit-input-placeholder{
              font-size:16px;
              font-weight:400;
              color:rgba(186,186,186,1);
            }
            label{
              font-size:16px;
              font-weight:400;
              color:rgba(51,51,51,1);
            }
          }
          .inputDescr{
            display: flex;
            margin-top: 10px;
            align-items: center;
            justify-content: space-between;
            padding: 0 7px;
            box-sizing: border-box;
            p:nth-child(1){
              font-size:12px;
              font-weight:400;
              color:rgba(51,51,51,1);
              img{
                width: 13px;
                height: 13px;   
                margin-right: 3px;           
              }
              span{
                font-size:12px;
                font-weight:500;
                color:rgba(51,51,51,1);
              }
            }
            p:nth-child(2){
                font-size:12px;
                font-weight:400;
                color:rgba(112,56,253,1);
                cursor: pointer;
            }
          }
          .extractDescr{
            width: 100%;
            // height: 49px;
            background:rgba(247,247,247,1);
            border-radius:3px;
            display: flex;
            align-items: flex-start;
            padding: 7px 6px;
            box-sizing: border-box;
            margin-top: 25px;
            img{
              width: 13px;
              height: 13px;
              margin-right: 3px;
            }
            p{
              font-size:10px;
              font-weight:400;
              line-height: 15px;
              color:rgba(92,92,92,1);
            }
          }
          .foot {
            width: 238px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
          .btn {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(152deg,rgba(147,57,243,1) 0%,rgba(112,56,253,1) 100%);;
            border-radius: 4px;
            font-size:16px;
            font-weight:500;
            color:rgba(255,255,255,1);
            margin-top: 35px;
            margin-bottom: 5px!important;
            cursor: pointer;
        }
        .active {
          background: rgba(135, 108, 192, 1);
        }
        .descr {
          font-weight: 400;
          font-size:12px;
        }
        .descrRed{
          color: #E54040;

        }
        .descrWarn{
            color: #13b788;
          }
        }
        
        }
      }
    }
}
//日历列表
.ant-picker-dropdown{
  .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before{
   border:1px solid #7038fd;
  }
  
  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner{
    background:#7038fd;
  }
  .ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner{
    background:rgba(112, 56, 253, .2);
  }
  .ant-btn-primary{
    background: #7038fd;
    border:0;
  }
  .ant-btn-primary:hover{
    background:rgba(112, 56, 253, .85);
  }
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector:hover{
  border-color: #7038fd;
}
.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
  border-color: #7038fd;
}
//借款
.borrowDetails{
.saveDetailsWrap{
  .agreest{
    width: 100%;
    font-size:12px;
    font-weight:400;
    color:rgba(153,153,153,1);
    // margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content:center ;
    img{
      width: 12px;
      height: 12px;
      margin-right: 4px;
      cursor: pointer;
    }
    span{
      color: rgba(112, 56, 253, 1);
    }
  }
  .saveDetailsList1{
    >p:last-child{
          height: 79px;
          p{
            display: flex;
            flex-direction: column;
             label{
              font-size:14px;
              font-weight:400;
              color:rgba(92,92,92,1);
            }
            span{
              font-size:12px;
              font-weight:400;
              color:rgba(186,186,186,1);
            }
          }
        }
  }
  .foot{
    .btn{
      margin-top: 24px;
    }
  }
}
.productDescr{
  .descr{
    h4{
      margin-bottom: 15px;
    }
  }
}
.question{
  .descrs{
    margin-top: 30px;
  }
}
}
//借款订单
.borrowOrder{
  >.curSaveLists{
    >.ant-table-wrapper{
        .ant-table-thead{
          tr{
            th{
              white-space: nowrap;
            }
            >th:nth-child(2){
              width:130px;
            }
            >th:nth-child(3){
              width:200px;
            }
            >th:nth-child(4){
              width:300px;
            }
          }
      }
      }
  }
  .secendMenu{
    display: flex;
    flex-direction: column;
    >.ant-table-wrapper{
      .ant-table-thead > tr > th{
        width: 100px;
      }
    }
    .pageBtns{
      display: flex;
      
      margin: 0 auto;
      margin-bottom: 19px;
      .pageBtn{
        display: flex;
        >span{
          
        }
      }
      span{
        width: 15px;
        height: 15px;
        display: flex;
        cursor: pointer;
        margin-right: 15px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  thead{
    tr{
       position: relative;
       .ant-table-row-expand-icon-cell{
        //  position: absolute;
        //  right: 0;
        display: none;
       }
    }
  }
  tbody{
    tr.ant-table-expanded-row{
      .ant-table-cell{
        
        .secendMenu{
          >.tab{
            margin-left: 15px;
            display: flex;
            align-items: center;
            span{
              font-size:12px;
              font-weight:400;
              color:rgba(153,153,153,1);
            }
            .active1{
              font-size:16px;
              font-weight:500;
              color:rgba(51,51,51,1);
            }
          }
        }
        .ant-table-wrapper{
          margin-top: 20px;
          .ant-table-thead > tr > th{
            font-size:12px;
            font-weight:400;
            color:rgba(153,153,153,1);
             background:rgba(250,247,255,1);
          }
          .ant-table-tbody{
             > tr {
               > td{
                  background:rgba(250,247,255,1);
                  font-size:12px;
                  font-weight:400;
                  color:rgba(51,51,51,1);
                  padding: 20px 16px;
                }
                .colorRed{
                  color: red;
                }
                .colorGre{
                  color: rgba(19, 183, 136, 1);
                }
             }
          }
        }
      }
         >td{
           background:rgba(250,247,255,1);
           border-radius:16px;
           padding-top: 20px!important;
           padding-bottom: 0!important;
         }
       }
    .ant-table-row{
       
       .ant-table-row-expand-icon-cell{
        //  position: absolute;
        //  right: 0;
        display: none;
       }
    }
  }
}
  @media screen and (max-width:1440px){
  .mapping{
    >div{
      width:800px;
    }
  }
  
}
@media screen and (max-width:1600px){
  .borrowOrder,.saveOrder{
    .curSaveLists{
      width: 90%;
    }
  }
  
}
@media screen and (max-width:1315px){
  .ant-space{
    width: 300px;
  }
  .ant-select{
    width: 160px!important;
    
  }
  .borrowOrder .curSaveLists .saveDetail .selector, .saveOrder .curSaveLists .saveDetail .selector {
    .ant-select{
      margin-left: 15px;
    }
    .btn{
      margin-left: 15px;
    }
  }
}

@media screen and (max-width:1200px){
  .borrowOrder,.saveOrder{
    .curSaveLists{
      width: 95%;
    }
  }
  .digitalBankPage{
    width: 800px;
  }
}
@media screen and (max-width:1100px){
  .ant-space{
    width: 280px;
  }
  .ant-select{
    width: 150px!important;
    
  }
  .borrowOrder .curSaveLists .saveDetail .selector, .saveOrder .curSaveLists .saveDetail .selector {
    .ant-select{
      margin-left: 12px;
    }
    .btn{
      margin-left: 12px;
    }
  }
  .digitalBankPage{
    width: 750px;
  }
}
@media screen and (max-width:1030px){
  
  .digitalBankPage{
    width: 720px;
  }
}
@media screen and (max-width:1024px){
  
}