* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
p {
  margin-bottom: 0 !important;
}
dd {
  margin-bottom: 0 !important;
}
.ant-drawer {
  z-index: 0;
}
.ant-drawer.ant-drawer-open .ant-drawer-mask {
  // visibility:hidden;
  width: auto;
  background-color: transparent !important;
}
.ant-drawer-content-wrapper {
  width: 3.75rem !important;
}
.app {
  width: 100%;
  height: 10.8rem;
  .appContent {
    width: 100%;
    height: 100%;
    background: url("/img/矩形 3@2x.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    .logo {
      margin-left: 2.3rem;
      // padding-top: 0.37rem;
      box-sizing: border-box;
      img {
        width: 1.97rem;
        height: 0.32rem;
      }
    }
    .app_link {
      width: 9.01rem;
      height: 6.41rem;
      background: url("/img/编组 3@2x.png") no-repeat;
      background-size: cover;
      background-position: 50%;
      margin: 0 auto;
      margin-top: 1.52rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .link_logo {
        img {
          width: 0.97rem;
          height: 0.97rem;
          margin-top: 0.42rem;
        }
      }
      .qrCode {
        position: relative;
        canvas {
          width: 2rem !important;
          height: 2rem !important;
        }
        .dialog {
          width: 2rem;
          height: 2rem;
          background: rgba(255, 255, 255, 0.9);
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            display: flex;
            align-items: center;
            img {
              width: 0.32rem;
              height: 0.32rem;
              margin-right: 0.08rem;
            }
            img:last-child {
              width: 0.5rem;
              height: 0.5rem;
              cursor: pointer;
            }
            label {
              font-size: 0.32rem;
              font-weight: 600;
              color: rgba(58, 202, 101, 1);
              line-height: 0.32rem;
            }
            .success {
              color: rgba(58, 202, 101, 1);
            }
            .fail {
              color: rgba(213, 65, 83, 1);
            }
          }
        }
      }
      h3 {
        font-size: 0.24rem;
        font-weight: 500;
        color: rgba(56, 47, 68, 1);
        line-height: 0.24rem;
        margin-bottom: 0.5rem;
      }
      > p {
        font-size: 0.24rem;
        font-weight: 400;
        color: rgba(97, 91, 107, 1);
        line-height: 0.2rem;
        margin-bottom: 1rem !important;
      }
    }
  }
}
.homePage {
  position: relative;
}
.home {
  width: 100%;
  height: 10.77rem;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    .mine {
      display: flex;
      position: relative;
      z-index: 999;
      // margin-left:10rem;
      img {
        width: 0.24rem;
        height: 0.24rem;
      }
    }
    .logo {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 0.77rem;
      img {
        max-width: 1.96rem;
        max-height: 0.3rem;
      }
    }
    .navlist {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 0.44rem;
      box-sizing: border-box;
    }
    .route {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 1.3rem;
      a {
        height: 100%;
        font-size: 0.32rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(157, 155, 163, 1);
        display: flex;
        align-items: center;
        padding: 0 0.4rem;
        box-sizing: border-box;
        i {
          width: 0.31rem;
          height: 0.34rem;
          margin-right: 0.1rem;
        }
        .noWal {
          background: url("/img/编组 17复制 52@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        .wal {
          background: url("/img/编组 17复制 5@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        .noMar {
          background: url("/img/编组 142@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        .mar {
          background: url("/img/编组 14@2x.png") no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
  .changecontent {
    flex: 1;
    display: flex;
    overflow-y: auto;
    background: #f7f7f9;
  }

  .content {
    flex: 1;
    display: flex;
    overflow-y: auto;
    background: #f7f7f9;
    .contentWrap {
      width: 11rem;
      margin:0.77rem auto;
      
      .apply {
        width: 100%;
        height: 2.5rem;
        padding-left: 0.29rem;
        padding-right:0.4rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: url('/img/编组 19@2x.png') no-repeat;
        background-size: 100% 100%;
        p{
          display: flex;
          font-size:0.16rem;
          font-weight:400;
          color:rgba(154,145,190,1);
          margin-top: 0.42rem;
          margin-bottom: 0.2rem;
          i{
            margin-left: 0.05rem;
            img{
              width: 0.2rem;
              height: 0.12rem;
            }
          }
        }
        .applyContent {
          width: 100%;
          // height: 0.43rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span{
            // height: 100%;
            font-size:0.3rem;
            font-weight:bold;
            color:rgba(255,255,255,1);
            margin-top: 0.1rem;
          }
          .btns {
            display: flex;
            dl {
              width: 1.8rem;
              height: 0.43rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background:rgba(255,255,255,1);
              margin-top: 0.33rem;
              margin-right: 0.23rem;
              border-radius: 3px;
              cursor: pointer;
              dt {
                width: 0.3rem;
                height: 0.3rem;
                display: flex;
                margin-right: 0.08rem;
              }
              dd {
                font-size: 0.22rem;
                font-weight: 500;
                color: rgba(80, 27, 162, 1);
              }
            }
            dl:hover {
              background: rgba(80, 27, 162, 1);

              dd {
                color: #fff;
              }
            }
            dl:nth-child(1) dt {
              background: url("/img/transfer.png") no-repeat;
              background-size: 100% 100%;
            }
            dl:nth-child(2) dt {
              background: url("/img/getMoney.png") no-repeat;
              background-size: 100% 100%;
            }
            dl:nth-child(1):hover dt {
              width: 0.35rem;
              height: 0.32rem;
              background: url("/img/transfer1.png") no-repeat;
              background-size: 100% 100%;
            }
            dl:nth-child(2):hover dt {
              background: url("/img/getMoney1.png") no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }
      .assetList{
        width:100%;
        padding: 0.2rem 0.17rem;
        box-sizing: border-box;
        background:rgba(255,255,255,1);
        border-radius:24px 24px 0px 0px;
        margin-top: -0.8rem;
        p{
          height: 0.7rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          
        }
        .assetLists{
          .assetListsEvery{
            width: 100%;
            height: 0.7rem;
            margin-bottom: 0.12rem;
            background:#F7F7F9;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.12rem;
            box-sizing: border-box;
            border-radius:14px;
            .leftAsset{
              display: flex;
              align-items: center;
              i{
                margin-right: 0.1rem;
                img{
                  width: 0.4rem;
                  height: 0.4rem;
                }
              }
              label{
                font-size:0.18rem;
                font-weight:600;
                color:rgba(51,51,51,1);
              }
            }
            .rightAsset{
              display: flex;
              flex-direction: column;
              span{
                font-size:0.18rem;
                font-weight:600;
                color:rgba(51,51,51,1);
              }
              label{
                font-size:0.14rem;
                color:rgba(173,173,173,1);
              }
            }
            
          }
        }
      }
    }
    .transfar {
      padding: 0.37rem 0.73rem 0 0.53rem;
      box-sizing: border-box;
      .transfarContent {
        width: 100%;
        height: 100%;
        background: #fff;
        .transfarList {
          width: 8.56rem;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          h4 {
            font-size: 0.32rem;
            font-weight: 600;
            color: rgba(60, 56, 72, 1);
            margin-top: 1.69rem;
            margin-bottom: 0.62rem;
          }
          .iptAddress {
            display: flex;
            margin-bottom: 0.14rem;
            textarea {
              width: 8.56rem !important;
              height: 1.61rem !important;
              border-radius: 3px;
              border: 1px solid rgba(151, 151, 151, 1);
              resize: none;
              outline: none;
              font-size: 0.24rem;
              font-weight: 400;
              color: rgba(158, 156, 164, 1);
              padding-top: 0.16rem;
              padding-left: 0.2rem;
              box-sizing: border-box;
              font-family: Arial, Helvetica, sans-serif;
            }
            textarea::-webkit-input-placeholder {
              font-size: 0.24rem;
              font-weight: 400;
              color: rgba(158, 156, 164, 1) !important;
            }
          }
          .iptAmount {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 8.56rem !important;
            height: 0.8rem;
            border-radius: 3px;
            border: 1px solid rgba(151, 151, 151, 1);
            padding-right: 0.1rem;
            box-sizing: border-box;
            input {
              width: 6rem;
              height: 100%;
              padding-left: 0.2rem;
              box-sizing: border-box;
              outline: none;
              border: 0;
              color: rgba(158, 156, 164, 1);
            }
            input::-webkit-input-placeholder {
              font-size: 0.24rem;
              font-weight: 400;
              color: rgba(158, 156, 164, 1);
            }
            label {
              font-size: 0.24rem;
              font-weight: 400;
              color: rgba(60, 56, 72, 1);
            }
          }
          .amountShow {
            width: 100%;
            display: flex;
            align-items: flex-start;
            margin-top: 0.19rem;

            p {
              font-size: 0.2rem;
              font-weight: 400;
              color: rgba(158, 156, 164, 1);
              margin-left: 0.2rem;
              span {
                font-size: 0.2rem;
                font-weight: 500;
                color: rgba(60, 56, 72, 1);
              }
            }
          }
          .foot {
            width: 2.75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .btn {
            width: 2.75rem;
            height: 0.53rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(96, 66, 158, 1);
            border-radius: 27px;
            font-size: 0.22rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            margin-top: 1.27rem;
          }
          .active {
            background: rgba(135, 108, 192, 1);
          }
          .descr {
            font-size: 0.2rem;
            font-weight: 400;
            color: rgba(209, 26, 67, 1);
            margin-top: 0.1rem;
          }
        }
      }
    }
  }
}
