* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
p {
  margin-bottom: 0 !important;
}
dd {
  margin-bottom: 0 !important;
}
// body::-webkit-scrollbar { width:10px;/*外层轨道*/} 
// body::-webkit-scrollbar-thumb{ display:block;/*内层轨道*/}
@mixin dropdown {
  .dropdown1 {
        position: relative;
        display: flex;
        // top: -0.05rem;
        margin-bottom:43px;
        > span {
          width: 120px;
          height: 35px;
          padding: 0 14px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(241, 238, 251, 1);
          font-size: 16px;
          font-weight: 400;
          color: rgba(112, 56, 253, 1);
          border-radius: 16px;
          cursor: pointer;

          i {
            display: flex;
            width: 11px;
            height: 11px;
            margin-left: 5px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .showClick {
          background: rgba(97, 49, 171, 1);
          color: rgba(255, 255, 255, 1);
          i {
            margin-top: 5px;
          }
        }
        .dropdown-content1 {
          width: 120px;
          padding: 10px 12px;
          // padding-bottom: 10px;
          box-sizing: border-box;
          position: absolute;
          top: 40px;
          left: 1px;
          // overflow: auto;
          display: flex;
          flex-direction: column;
          background: rgba(241, 238, 251, 1);
          border-radius: 8px;
          // display: none;
          span {
            // width: 100%;
            height: 25px;
            line-height: 25px;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            border-radius: 11px;
            margin-top: 1px;
            cursor: pointer;
          }
          .active {
            background: #fff;
          }
        }
      }
}
.ant-drawer {
  z-index: 0;
  position: absolute!important;
}
// .ant-drawer.ant-drawer-open .ant-drawer-mask {
//   // visibility:hidden;
//   width: auto;
//   background-color: transparent !important;
// }
.ant-drawer-content-wrapper {
  width: 440px !important;
  // height: 1080px !important;
  // overflow: auto;
  .ant-drawer-content{
    width: 100%;
    height: 100%;
    .ant-drawer-wrapper-body{
      width: 100%;
      height: 100%;
      .ant-drawer-body{
        width: 100%;
        height: 100%;
        padding: 0;
        box-sizing: border-box;
      }
    }
  }
}
// .ant-drawer-body{
//   flex-grow: 0!important;
//   overflow: visible!important;
// }
.ant-pagination-options-size-changer.ant-select{
  display: none!important;
}
// .ant-pagination-item-active{
//   border-color: rgba(112, 56, 253, 1)!important;
//   a{
//     color:rgba(112, 56, 253, 1)!important;
//   }
// }
//登录页
.app {
  width: 100%;
  height: 1080px;
  .appContent {
    width: 100%;
    height: 100%;
    background: url("/img/矩形 3@2x.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    .logo {
      margin-left: 12%;
      padding-top: 30px;
      box-sizing: border-box;
      img {
        width: 147px;
        height: 23px;
      }
    }
    .app_link {
      width: 675px;
      height: 480px;
      background: url("/img/编组 3@2x.png") no-repeat;
      background-size: cover;
      background-position: 50%;
      margin: 0 auto;
      margin-top: 116px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .link_logo {
        img {
          width: 93px;
          height: 93px;
          margin-top: 32px;
        }
      }
      .qrCode {
        position: relative;
        canvas {
          width: 153px !important;
          height: 153px !important;
        }
        .dialog {
          width: 153px;
          height: 153px;
          background: rgba(255, 255, 255, 0.9);
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            display: flex;
            align-items: center;
            img {
              width: 32px;
              height: 32px;
              margin-right: 8px;
            }
            img:last-child {
              width:24px;
              height:24px;
              cursor: pointer;
            }
            label {
              font-size:24px;
              font-weight: 600;
              color: rgba(58, 202, 101, 1);
            }
            .success {
              color: rgba(58, 202, 101, 1);
            }
            .fail {
              color: rgba(213, 65, 83, 1);
            }
          }
        }
      }
      h3 {
        font-size: 18px;
        font-weight: 500;
        color: rgba(56, 47, 68, 1);
        margin-bottom: 38px;
        margin-top: 15px;
      }
      > p {
        font-size: 18px;
        font-weight: 400;
        color: rgba(97, 91, 107, 1);
        // line-height:20px;
        // margin-bottom: 100px !important;
        margin-top: 26px;
      }
    }
  }
}
.homePage {
  width: 100%;
  height: 100%;
  position: relative;
  // overflow-x: hidden;
}

//首页
.home {
  max-width: 1440px;
  height: 100%;
  display: flex;
  // flex-direction: column;

  .header {
    width: 272px;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(80, 27, 162, 1);
  
    .logo {
      // height: 100%;
      display: flex;
      margin: 17px 0;
      img {
        max-width: 196px;
        max-height: 30px;
      }
    }
    // .navlist {
      
    //   display: flex;
    //   // align-items: center;
    //   // justify-content: space-between;
    //   // padding-right: 44px;
    //   // box-sizing: border-box;
    // }
    .route {
      width: 100%;
      display: flex;
      // align-items: center;
      flex-direction: column;
      margin-top:62px;
      span {
        height:80px;
        font-size: 20px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
        box-sizing: border-box;
        cursor: pointer;
        label{
          margin-top: 13px;
          cursor: pointer;
        }
        i {
          width: 31px;
          height: 34px;
          margin-right: 10px;
        }
        .noWal {
          background: url("/img/编组 17复制 522@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        .wal {
          background: url("/img/编组 17复制 5@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        .noMar {
          background: url("/img/编组 1422@2x.png") no-repeat;
          background-size: 100% 100%;
        }
        .mar {
          background: url("/img/编组 14@2x.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      .active{
        color:#FFF;
        background: rgba(247, 247, 249, .15);
      }
    }
  }
// 市场
.changecontent{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: #FFF;
    margin-top: 8px;
    margin-left: 8px;
    .leftContent{
      width: 100%;
      height: auto;
      padding: 0 31px;
      padding-top: 60px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      .borderContent{
        width: 200px;
        height: 34px;
        border-radius:50px;
        border: 1px solid rgba(112,56,253,1);;
        display: flex;
        align-items: center;
      }
      a{
        width: 100px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius:50px;
        font-size:16px;
        // line-height:0.32rem;
        font-weight:500;
        color:rgba(112,56,253,1);;
        white-space: nowrap;
        // border: 1px solid rgba(112,56,253,1);;
        i{
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
        .noEx{
          background: url('/img/duihuanqingkuang 2@2x.png')no-repeat;
          background-size: 100% 100%;
        }
        .ex{
          background: url('/img/duihuanqingkuang@2x.png')no-repeat;
          background-size: 100% 100%;
        }
        .noPool{
          background: url('/img/zijinguanli@2x.png')no-repeat;
          background-size: 100% 100%;
        }
        .pool{
          background: url('/img/zijinguanli 2@2x.png')no-repeat;
          background-size: 100% 100%;
        }
      }
      .active{
        background: #F7F7F9;

      }
    }
    .exchange{
      width:100%;
      height: 100%;
      padding-top:8px;
      padding-left:8px;
      box-sizing: border-box;
      // background: rgba(247, 247, 249, 1);
      .exchangeContent{
        width: 100%;
        height: 100%;
        background: #FFF;
        position: relative;
        .minePool{
          width: 145px;
          height: 34px;
          border-radius:16px;
          border:1px solid rgba(97,49,171,1);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:18px;
          font-weight:400;
          color:rgba(97,49,171,1);
          position: absolute;
          top:-40px;
          left: 68px;
          z-index: 1001;
          cursor: pointer;
          img{
            width: 20px;
            height: 20px;
            margin-right:6px;
          }
        }
        .poolClick{
          background:rgba(97,49,171,1);
          color:rgba(255,255,255,1)
        }
        .exchangeContents{
          width: 635px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          h4{
            font-size:20px;
            font-weight:600;
            color:rgba(56,47,68,1);
            margin-top:46px;
          }
          .form{
            width: 100%;
            >p{
              width: 100%;
              font-size:14px;
              font-weight:400;
              color:rgba(92,92,92,1);
              margin-top: 30px;
              margin-bottom:8px!important;
              text-align: right;
            }
            .dropdown{
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 17px;
              box-sizing: border-box;
              margin-bottom: 10px;
              margin-top: 20px;
              .dropdown2{
                  position: relative;
                  display: flex;
                  // top: -0.05rem;
                  >p{
                    font-size:14px;
                    font-weight:400;
                    color:rgba(255,255,255,1);
                  }
                  >span{
                    width: 55px;
                    height: 22px;
                    // padding: 4px 10px;
                    // box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:rgba(241, 238, 251, 1);
                    font-size:14px;
                    font-weight:400;
                    color:rgba(112,56,253,1);
                    border-radius: 11px;
                    cursor: pointer;

                    i{
                      display: flex;
                      width: 10px;
                      height: 10px;
                      margin-left: 3px;
                      margin-top: -2px;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                  .showClick{
                    background:rgba(112,56,253,1);
                    color:rgba(255,255,255,1);
                    i{
                      margin-top: 5px;
                    }
                  }
                  .dropdown-content2{
                    width:65px;
                    padding:0 5px;
                    padding-bottom: 10px;
                    box-sizing: border-box;
                    position: absolute;
                    top:35px;
                    left: 1px;
                    display: flex;
                    flex-direction: column;
                    background:rgba(241, 238, 251, 1);
                    // display: none;
                    span{
                      // width: 100%;
                      height:25px;
                      line-height: 22px;
                      text-align: center;
                      font-size:14px;
                      font-weight:400;
                      color:rgba(51,51,51,1);
                      border-radius:11px;
                      margin-top:10px;
                      cursor: pointer;
                    }
                    .active{
                      background: #FFF;

                    }
                  }
                }
            }
            .iptForm1,.iptForm{
              width: 100%;
              height: 94px;
              border-radius:9px;
              border:1px solid rgba(194,194,194,1);
              display: flex;
              flex-direction: column;
              padding:0 18px;
              box-sizing: border-box;
              label{
                font-size:14px;
                font-weight:400;
                color:rgba(51,51,51,1);
                margin-top: 10px;
                margin-bottom: 15px;
              }
              .iptContent{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input{
                  height: 28px;
                  font-size:28px;
                  font-weight:bold;
                  color:rgba(56,47,68,1);
                  border: 0;
                  outline: 0;
                }
                ::-webkit-input-placeholder{
                  font-size:28px;
                  font-weight:bold;
                  color:rgba(194,194,194,1);
                }
                .dropdown1{
                  position: relative;
                  display: flex;
                  top: -3px;
                  >span{
                    width: 80px;
                    height: 30px;
                    padding: 0 10px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:rgba(241, 238, 251, 1);
                    font-size:14px;
                    font-weight:400;
                    color:rgba(112,56,253,1);
                    border-radius: 16px;
                    cursor: pointer;

                    i{
                      display: flex;
                      width:10px;
                      height:10px;
                      margin-left: 5px;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                  .showClick{
                    background:rgba(112,56,253,1);
                    color:rgba(255,255,255,1);
                    i{
                      margin-top: 5px;
                    }
                  }
                  .dropdown-content1{
                    width:100px;
                    padding: 0 14px;
                    padding-bottom: 10px;
                    box-sizing: border-box;
                    position: absolute;
                    top:35px;
                    left:1px;
                    // overflow: auto;
                    display: flex;
                    flex-direction: column;
                    background:rgba(241, 238, 251, 1);
                    // display: none;
                    span{
                      // width: 100%;
                      height: 25px;
                      line-height: 22px;
                      text-align: center;
                      font-size:14px;
                      font-weight:400;
                      color:rgba(51,51,51,1);
                      border-radius:11px;
                      margin-top:10px;
                      cursor: pointer;
                    }
                    .active{
                      background: #FFF;

                    }
                  }
                }
              }
            }
            .getFormBorder{
              border: 1px solid rgba(112, 56, 253, 1);
            }
            .changeImg{
              width: 30px;
              height: 30px;
              display: flex;
              margin:8px auto;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .iptForm1{
               .iptContent{
                 .dropdown1{
                   >span{
                     width:100px;
                     border:1px solid rgba(112,56,253,1);
                     background: #FFF;
                   }
                   .dropdown-content2{
                     
                     position: absolute;
                     width: 375px;
                     height: 338px;
                     background: #FFF;
                     display: flex;
                     flex-direction: column;
                     margin-top:50px;
                     border-radius:16px;
                    display: none;
                    .search{
                      width:345px;
                      display: flex;
                      height:30px;
                      margin: 0 auto;
                      align-items: center;
                      background: rgba(248, 248, 248, 1);
                      padding: 0 13px;
                      box-sizing: border-box;
                      margin: 18px 0;
                      // flex-direction: column;
                      i{
                        width: 18px;
                        height: 18px;
                        display: flex;
                        img{
                          width: 18px;
                          height:18px;
                        }
                      }
                      input{
                        height: 100%;
                        flex: 1;
                        font-size:14px;
                        font-weight:400;
                        color:rgba(51, 51, 51, 1);
                        outline: 0;
                        border: 0;
                        background: rgba(248, 248, 248, 1);
                        margin-left: 7px;
                      }
                      ::-webkit-input-placeholder{
                        font-size:14px;
                        font-weight:400;
                        color:rgba(153,153,153,1);
                      }
                    }
                    .searchLists{
                      width: 345px;
                      display: flex;
                      flex-direction: column;
                      margin: 0 auto;
                    }
                   }
                }
               }
            }
            .changeRate{
              font-size:12px;
              font-weight:400;
              color:rgba(92,92,92,1);
              margin-top:10px;
              margin-left: 18px;
            }
          }
          .foot{
            width:275px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .btn{
            width: 280px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            background:rgba(96,66,158,1);
            border-radius:27px;
            font-size:18px;
            font-weight:500;
            color:rgba(255,255,255,1);
            margin-top: 30px;
            cursor: pointer;
          }
          .active{
            background:rgba(135,108,192,1);
          }
          .descr{
            font-size:14px;
            font-weight:400;
            color:rgba(247,78,78,1);
            margin-top:10px;
          }
          .changeRecord{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h4{
              width: 15px;
              font-size:16px;
              font-weight:400;
              color:rgba(61,57,73,1);
              border-bottom: 2px solid rgba(112, 56, 253, 1);
              white-space: nowrap;
              line-height: 24px;
            }
            .changeLists{
               width: 100%;

              .changeList{
                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgba(224, 224, 224, 1);
                cursor: pointer;
                .list1{
                  width: 45%;
                  display: flex;
                  justify-content: space-between;
                  span{
                    font-size:14px;
                    font-weight:400;
                    color:rgba(19,183,136,1);
                  }
                  .red{
                    color:rgba(229, 64, 64, 1);
                  }
                  .yel{
                    color:rgba(251, 143, 11, 1);
                  }
                  p{
                    font-size:16px;
                    font-weight:400;
                    color:rgba(56,47,68,1);
                  }
                }
                .changeImg{
                  width:12px;
                  height: 11px;
                  display: flex;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .list2{
                  width: 45%;
                  display: flex;
                  justify-content: space-between;
                  span{
                    font-size:16px;
                    font-weight:400;
                    color:rgba(56,47,68,1);
                  }
                  p{
                    font-size:14px;
                    font-weight:400;
                    color:rgba(153,153,153,1);
                    display: flex;
                    align-items: center;
                    i{
                      width:13px;
                      height:13px;
                      display: flex;
                      margin-left: 10px;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
            }
            
          }
        }
      }
    }
  }
  .box{
    display: flex;
    flex-direction: column;
    background: rgba(247, 247, 249, 1);
    flex: 1;
    .boxHead{
      height: 64px;
      background: #FFF;
      display: flex;
      align-items: center;
      justify-content:flex-end;
      z-index: 999999;
      .boxHeadList{
        display: flex;
        >span{
        margin:0 34px;
        font-size:14px;
        font-weight:400;
        color:rgba(80,27,162,1);
      }
      }
      .mine {
      display: flex;
      position: relative;
      z-index: 999;
      
      img {
        width: 24px;
        height:24px;
        cursor: pointer;
      }
      .mineList{
        width: 180px;
        height: 170px;
        position: absolute;
        top:40px;
        right: 0;
        background:rgba(80,27,162,1);
        border-radius:8px;
        padding: 10px;
        box-sizing: border-box;
        >p{
          font-size:14px;
          font-weight:400;
          color:rgba(255,255,255,1);
          height: 20px;
          display: flex;
          align-items: center;
          margin-top: 15px;
          cursor: pointer;
          img{
            width: 17px;
            height: 19px;
            
            margin-left: 12px;
            margin-right:10px;
          }
        }
        .balanceList{
           width: 100%;
           height: 60px;
           background: #FFF;
           border-radius: 4px;
           display: flex;
           align-items: center;
           padding: 0 10px;
           box-sizing: border-box;
           cursor: pointer;
           .balance{
             width: 100%;
             height: 100%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             label{
               color:rgba(153, 153, 153, 1);
               font-weight:400;
               font-size: 12px;
             }
             span{
               font-size:18px;
               font-weight:600;
               color:rgba(51, 51, 51, 1);
             }
           }
           .icon{
             img{
               width: 12px;
               height: 12px;
             }
           }
        }
        .btns{
          width: 100%;
          display: flex;
          // flex-direction: column;
          dl{
            flex: 1;
            height: 35px;
            display: flex;
            align-items: center;
            border-radius:17px;
            margin-bottom: 0!important;
            margin-top: 10px;
            cursor: pointer;
            background:rgba(255,255,255,.2);
            dt{
              img{
                width: 23px;
                height:23px;
                // margin-left: 10px;
                // margin-right: 10px;
              }
            }
            dd{
              font-size:14px;
              font-weight:400;
              color:rgba(255,255,255,1);
              
            }
          }
          dl:hover{
            background:rgba(255,255,255,.5);
          }
          .act{
            background:rgba(255,255,255,.2);
          }
        }
      }
      }
      
    }
  }
  .content {
    flex: 1;
    display: flex;
    overflow-y: auto;
    background: #FFF;
    margin-top: 8px;
    margin-left: 8px;
    .contentWrap {
      width: 755px;
      margin: 69px auto;

      .apply {
        width: 100%;
        height: 196px;
        padding-left: 29px;
        padding-right: 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: url("/img/编组 19@2x.png") no-repeat;
        background-size: 100% 100%;
        p {
          display: flex;
          font-size: 16px;
          font-weight: 400;
          color: rgba(154, 145, 190, 1);
          margin-top: 42px;
          margin-bottom: 20px;
          i {
            margin-left: 5px;
            cursor: pointer;
            img {
              width: 20px;
              height: 12px;
            }
          }
        }
        .applyContent {
          width: 100%;
          // height: 0.43rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            // height: 100%;
            font-size: 28px;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
            margin-top:10px;
          }
          .btns {
            display: flex;
            dl {
              width: 118px;
              height: 34px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba(255, 255, 255, 1);
              margin-top: 30px;
              margin-right: 23px;
              border-radius: 3px;
              cursor: pointer;
              dt {
                width: 24px;
                height: 22px;
                display: flex;
                margin-right: 8px;
              }
              dd {
                font-size: 16px;
                font-weight: 500;
                color: rgba(75, 30, 144, 1);
              }
            }
            dl:hover {
              background: rgba(75, 30, 144, 1);

              dd {
                color: #fff;
              }
            }
            dl:nth-child(1) dt {
              background: url("/img/transfer.png") no-repeat;
              background-size: 100% 100%;
            }
            dl:nth-child(2) dt {
              background: url("/img/getMoney.png") no-repeat;
              background-size: 100% 100%;
            }
            dl:nth-child(1):hover dt {
              width: 24px;
                height: 18px;
              background: url("/img/transfer1.png") no-repeat;
              background-size: 100% 100%;
            }
            dl:nth-child(2):hover dt {
              background: url("/img/getMoney1.png") no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }
      .assetList {
        width: 100%;
        padding: 20px 17px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 1);
        border-radius: 24px 24px 0px 0px;
        margin-top: -50px;
        p {
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          i {
            width: 22px;
            height:22px;
            display: flex;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .assetLists {
          .assetListsEvery {
            width: 100%;
            height:60px;
            margin-bottom: 12px;
            background: #f7f7f9;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px;
            box-sizing: border-box;
            border-radius: 14px;
            cursor: pointer;
            .leftAsset {
              display: flex;
              align-items: center;
              i {
                margin-right: 10px;
                img {
                  width: 40px;
                  height: 40px;
                }
              }
              label {
                font-size:16px;
                font-weight: 600;
                color: rgba(51, 51, 51, 1);
              }
            }
            .rightAsset {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              span {
                font-size: 16px;
                font-weight: 600;
                color: rgba(51, 51, 51, 1);
              }
              label {
                font-size: 12px;
                color: rgba(173, 173, 173, 1);
              }
            }
          }
          .assetListsEvery:hover{
            background: rgba(235, 235, 241, 1);
          }
        }
      }
    }
  }
  //转账
  .transfer {
    width: 100%;
    height: 100%;
    background: #F7F7F9;
    margin-top: 8px;
    padding-left: 8px;
    box-sizing: border-box;
    overflow-y: auto;
    .transferContent {
      width: 100%;
      height: 100%;
      background: #fff;
      position: relative;
      .jt{
          width: 32px;
          height: 17px;
          position: absolute;
          top: 70px;
          left: 50px;
          cursor: pointer;
          img{
            width: 100%;
            height: 100%;
          }
        }
      .transferList {
        width:642px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h4 {
          font-size: 24px;
          font-weight: 600;
          color: rgba(60, 56, 72, 1);
          margin-top: 70px;
          margin-bottom: 46px;
        }
        .iptAddress {
          display: flex;
          margin-bottom: 14px;
          textarea {
            width: 642px !important;
            height: 120px !important;
            border-radius: 3px;
            border: 1px solid rgba(151, 151, 151, 1);
            resize: none;
            outline: none;
            font-size: 18px;
            font-weight: 400;
            color: rgba(158, 156, 164, 1);
            padding-top: 16px;
            padding-left: 20px;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
          }
          textarea::-webkit-input-placeholder {
            font-size: 18px;
            font-weight: 400;
            color: rgba(158, 156, 164, 1) !important;
          }
        }
        .iptAmount {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 642px !important;
          height: 60px;
          border-radius: 3px;
          border: 1px solid rgba(151, 151, 151, 1);
          padding-right: 10px;
          box-sizing: border-box;
          @include dropdown;
          .dropdown1 {
            margin-bottom: 0;
            >span{
              background: 0;
              border: 1px solid #7038FD;
            }
          }
          input {
            width: 400px;
            height: 100%;
            padding-left: 20px;
            box-sizing: border-box;
            outline: none;
            border: 0;
            color: rgba(158, 156, 164, 1);
          }
          input::-webkit-input-placeholder {
            font-size: 18px;
            font-weight: 400;
            color: rgba(158, 156, 164, 1);
          }
          label {
            font-size: 18px;
            font-weight: 400;
            color: rgba(60, 56, 72, 1);
          }
        }
        .amountShow {
          width: 100%;
          display: flex;
          align-items: flex-start;
          margin-top: 19px;

          p {
            font-size: 14px;
            font-weight: 400;
            color: rgba(158, 156, 164, 1);
            margin-left:20px;
            span {
              font-size: 14px;
              font-weight: 500;
              color: rgba(60, 56, 72, 1);
            }
          }
        }
        .foot {
          width: 206px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .btn {
          width: 206px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(96, 66, 158, 1);
          border-radius: 27px;
          font-size: 16px;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          margin-top: 127px;
          margin-bottom: 6px!important;
          cursor: pointer;
        }
        .active {
          background: rgba(135, 108, 192, 1);
        }
        .descr {
          font-size: 14px;
          font-weight: 400;
          color: rgba(209, 26, 67, 1);
          margin-top: 10px;
          margin-bottom: 56px!important;
        }
      }
    }
  }
  //收款
  .getMoney {
    width: 100%;
    height: 100%;
    background: #f7f7f9;
    margin-top: 8px;
    padding-left: 8px;
    box-sizing: border-box;
    .dialogContent {
      width: 100%;
      height: 100%;
      background: #fff;
      // margin: 53px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .jt{
        width: 32px;
        height: 17px;
        position: absolute;
        top: 67px;
        left: 52px;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
        }
      }
     
      h4 {
        font-size: 24px;
        font-weight: 600;
        color: rgba(56, 47, 68, 1);
        margin-top: 69px;
        margin-bottom:47px;
      }
      @include dropdown;
      .qrCode,
      canvas {
        width: 154px !important;
        height: 154px !important;
      }
      .addressCode {
        display: flex;
        margin-top: 32px;
        position: relative;
        span {
          font-size: 18px;
          font-weight: 400;
          color: rgba(56, 47, 68, 1);
          margin-right: 10px;
        }
        i {
          width: 28px;
          height: 30px;
          display: flex;
          cursor: pointer;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .warn {
          width: 129px;
          height: 39px;
          display: flex;
          position: absolute;
          top: 40px;
          right: -15px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  
}
//添加币种
  .addCurrency{
    width: 100%;
    height: 100%;
    padding: 0 47px;
    padding-top: 100px;
    box-sizing: border-box;
    >h4{
        display: flex;
        align-items: center;
        font-size:16px;
        font-weight:600;
        color:rgba(51,51,51,1);
        margin-bottom: 50px;
        i{
            width: 12px;
            height: 13px;
            display: flex;
            margin-right: 100px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .addCurrencyLists{
        width: 100%;
      .addCurrencyList{
        width: 100%;
        height: 60px;
        background:rgba(247,247,249,1);
        border-radius:3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 0 13px;
        box-sizing: border-box;
        p{
          display: flex;
          align-items: center;
          i{
          width:40px;
          height: 40px;
          display: flex;
          margin-right: 12px;
          img{
            width:100%;
            height: 100%;
          }
        }
        label{
          font-size:0.16rem;
          font-weight:600;
          color:rgba(51,51,51,1);
        }
        }
        p:nth-child(2){
          cursor: pointer;
          img{
            width: 40px;
            height: 20px;
          }
        }
      }
    }
  }
//币种详情
.currencyDetail{
  width: 440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 0 auto;
  // overflow: hidden;
  padding: 0 47px;
  padding-top: 100px;
  box-sizing: border-box;
    h4{
        width: 100%;
        display: flex;
        align-items: center;
        font-size:16px;
        font-weight:600;
        color:rgba(51,51,51,1);
        margin-bottom: 50px;
        // margin-top: 100px;
        i{
            width: 12px;
            height: 13px;
            display: flex;
            margin-right: 130px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .detailContent{
      width: 100%;
      .detailNav{
        margin-bottom: 20px;
        span{
          font-size:12px;
          font-weight:400;
          color:rgba(194,194,194,1);
          margin-right: 32px;
          cursor: pointer;
        }
        .active{
          color: rgba(112, 56, 253, 1);
        }
      }
      .detailLists{
        .detailList{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 0;
          box-sizing: border-box;
          border-bottom: 1px solid #DEDFE0;
          cursor: pointer;
          i{
            img{
              width: 25px;
              height: 25px;
            }
          }
          .listCenter{
            flex: 1;
            margin-left:20px;
            p:nth-child(1){
              font-size:14px;
              font-weight: 500;
              color:rgba(51,51,51,1);
            }
            p:nth-child(2){
              font-size:12px;
              color:rgba(188,188,188,1);
            }
            .org{
              color:rgba(251,143,11,1);
            }
            .gre{
              color:#13B788;
            }
            .red{
              color:#E54040;
            }
          }
          .listResult{
            p:nth-child(1){
              font-size:14px;
              font-weight: 500;
            }
            p:nth-child(2){
              font-size:12px;
              font-weight:400;
            }
            .org{
              color:rgba(251,143,11,1);
            }
            .gre{
              color:#13B788;
            }
            .red{
              color:#E54040;
            }
          }
        }
      }
    }
    .ant-pagination{
      // width: 100%;
      // position: absolute;
      margin: 100px 0;
      // left: 1rem;
      // margin: 0 auto;
    }
}
//详情
.details{
  width: 100%;
  height: 100%;
  padding: 0 47px;
  padding-top: 100px;
  box-sizing: border-box;
  background: url('/img/编组@2x.png')no-repeat;
  background-size: 100% 100%;
  overflow: auto;
  >h4{
        display: flex;
        align-items: center;
        font-size:16px;
        font-weight:600;
        color:rgba(51,51,51,1);
        margin-bottom: 50px;
        i{
            width: 12px;
            height: 13px;
            display: flex;
            margin-right: 140px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
  .detailsTable{
    width: 100%;
    padding:40px 0;
    box-sizing: border-box;
    background: url('/img/编组 27@2x.png')no-repeat;
    background-size: 100% 100%;
    .tableContent{
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      i{
        img{
          width: 40px;
          height: 40px;

        }
      }
      h3{
        font-size:16px;
        font-weight:600;
        color:rgba(0,209,175,1);
        margin-top: 14px;
        margin-bottom: 19px;
      }
      >p{
        font-size:14px;
        font-weight:400;
        color:rgba(153,153,153,1);
      }
      .line{
        width: 100%;
        height: 1px;
        display: flex;
        margin-top: 45px;
        margin-bottom: 29px;
        img{
          width: 100%;
          height: 100%;
        }
        // border: 1px dashed rgba(60, 56, 72, .2);
      }
      .tableList{
        width:100%;
        >p{
          // height:auto;
          display: flex;
          align-items: flex-end;
          line-height:15px;
          margin-top: 20px;
          label{
            width: 30%;
            font-size:14px;
            font-weight:400;
            color:rgba(153,153,153,1);
          }
          span{
            display: flex;
            align-items: center;
            font-size:14px;
            font-weight:500;
            color:rgba(153, 153, 153, 1);
            position: relative;
            i{
              font-style: normal;
              width:190px;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap
            }
            img{
              width:12px;
              height:13px;
              margin-left: 5px;
              cursor: pointer;
            }
            .warn{
              width: 107px;
              height: 36px;
              position: absolute;
              right:-30px;
              top: 40px;
              z-index: 99;
              font-size:12px;
              font-weight:500;
              color:rgba(255,255,255,1);
              background:rgba(56, 47, 68, 1);
              display: flex;
              align-items: center;
              justify-content:center;
              border-radius: 3px;
              // white-space: nowrap;
              text-align: center;
            }
          }
          
        }
        p:nth-child(1){
          span{
            display: flex;
            font-size:14px;
            font-weight:500;
            color:rgba(51,51,51,1);
          }
        }
      }
    }
  }
  .goBrower{
    width: 100%;
    text-align: center;
    font-size:14px;
    font-weight:400;
    color:rgba(112,56,253,1);
    line-height:14px;
    margin-top: 150px;
    margin-bottom: 50px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img{
      width: 8px;
      height: 11px;
      margin-left: 3px;
    }
  }
}
// @media screen and (max-width:1600px){
//   .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next{
//         min-width: 25px!important;
//         height: 25px!important;
//         line-height: 25px!important;
//   }
//   .ant-pagination-item{
//         min-width: 25px!important;
//         height: 25px!important;
//         line-height: 25px!important;
//         margin-right: 5px!important;
//   }
// }
// @media screen and (max-height:1000px){
// .currencyDetail .ant-pagination{
//   bottom: 200px;
// }
// }
// @media screen and (max-height:900px){
// .currencyDetail .ant-pagination{
//   bottom: 300px;
// }
// }
@media screen and (min-width:1440px){
  .home{
    margin: 0 auto;
  }
}