*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
p{
  margin-bottom: 0!important;
}
.ant-drawer{
  z-index: 0;
}
.ant-drawer.ant-drawer-open .ant-drawer-mask{
  // visibility:hidden;
  width: auto;
  background-color: transparent!important;
}
.ant-drawer-content-wrapper{
   width: 3.75rem!important;
}
.app {
  width: 100%;
  height:10.8rem;
  .appContent{
    width: 100%;
    height:100%;
    background:url('/img/矩形 3@2x.png') no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    .logo{
      margin-left: 2.3rem;
      // padding-top: 0.37rem;
      // box-sizing: border-box;
      img{
        width: 1.97rem;
        height: 0.32rem;
      }
      
    }
    .app_link{
      width: 9.01rem;
      height: 6.41rem;
      background:url('/img/编组 3@2x.png') no-repeat;
      background-size: cover;
      background-position: 50%;
      margin: 0 auto;
      margin-top: 1.52rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .link_logo{
        img{
          width: 0.97rem;
          height: 0.97rem;
          margin-top: 0.42rem;
        }
      }
      .qrCode{
        position: relative;
        canvas{
          width:2rem!important;
          height:2rem!important;
        }
        .dialog{
          width:2rem;
          height:2rem;
          background: rgba(255, 255, 255, .9);
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p{
            display: flex;
            align-items: center;
            img{
              width: 0.32rem;
              height: 0.32rem;;
              margin-right: 0.08rem;
            }
            img:last-child{
              width: 0.50rem;
              height: 0.50rem;
              cursor: pointer;
            }
            label{
              font-size:0.32rem;
              font-weight:600;
              color:rgba(58,202,101,1);
              line-height:0.32rem;
            }
            .success{
              color: rgba(58, 202, 101, 1);
            }
            .fail{
              color: rgba(213, 65, 83, 1);
            }
          }
        }
      }
      h3{
        font-size:0.24rem;
        font-weight:500;
        color:rgba(56,47,68,1);
        line-height:0.24rem;
        margin-bottom: 0.50rem;
      }
      >p{
        font-size:0.24rem;
        font-weight:400;
        color:rgba(97,91,107,1);
        line-height:0.20rem;
        margin-bottom: 1rem!important;
      }
    }
  }
}
.homePage{
  position: relative;
  .transfarDialog{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    .dialogContent{
      width: 7rem;
      height: 4.98rem;
      background: url('/img/bg.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top:50%;
      margin-top: -3.2rem;
      left:50%;
      margin-left: -4.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .del{
        width: 0.3rem;
        height: 0.3rem;
        display: flex;
        position: absolute;
        top:0.58rem;
        right:0.52rem;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
        }
      }
      h4{
        width: 5rem;
        text-align: center;
        font-size:0.24rem;
        font-weight:400;
        color:rgba(56,47,68,1);
        margin-top: 0.58rem;
        margin-bottom: 0.59rem;
      }

      .qrCode,canvas{
        width: 2.05rem!important;
        height: 2.05rem!important;
      }
    }
  }
  .getMoneyDialog{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    .dialogContent{
      width: 9rem;
      height: 6.4rem;
      background: url('/img/bg.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top:50%;
      margin-top: -3.2rem;
      left:50%;
      margin-left: -4.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .del{
        width: 0.3rem;
        height: 0.3rem;
        display: flex;
        position: absolute;
        top:0.9rem;
        right:0.54rem;
        cursor: pointer;
        img{
          width: 100%;
          height: 100%;
        }
      }
      h4{
        font-size:0.32rem;
        font-weight:600;
        color:rgba(56,47,68,1);
        margin-top: 0.84rem;
        margin-bottom: 0.64rem;
      }
      p{
        font-size:0.24rem;
        font-weight:400;
        color:rgba(56,47,68,1);
        margin-bottom: 0.44rem!important;
      }
      .qrCode,canvas{
        width: 2.05rem!important;
        height: 2.05rem!important;
      }
      .addressCode{
        display: flex;
        margin-top: 0.32rem;
        position: relative;
        span{
          font-size:0.24rem;
          font-weight:400;
          color:rgba(56,47,68,1);
          margin-right: 0.1rem;
        }
        i{
          width: 0.28rem;
          height: 0.3rem;
          display: flex;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .warn{
          width: 1.29rem;
          height: 0.39rem;
          display: flex;
          position: absolute;
          top: 0.4rem;
          right: -0.15rem;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.home{
  width: 100%;
  height: 10.77rem;
  display: flex;
  flex-direction: column;
  
  .header{
    width: 100%;
    height: 1.00rem;
    display: flex;
    align-items: center;
    .logo{
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 0.77rem;
      img{
        max-width: 1.96rem;
        max-height: 0.30rem;
      }
    }
    .route{
      display: flex;
      align-items: center;
      margin-left: 1rem;
      a{
        font-size:0.32rem;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color: rgba(157, 155, 163, 1);
        display: flex;
        margin-left: 1rem;
        i{
          width: 0.31rem;
          height: 0.34rem;
          margin-right: 0.1rem;
        }
        .noWal{
          background: url('/img/编组 17复制 52@2x.png')no-repeat;
          background-size: 100% 100%;
        }
        .wal{
          background: url('/img/编组 17复制 5@2x.png')no-repeat;
          background-size: 100% 100%;
        }
        .noMar{
          background: url('/img/编组 142@2x.png')no-repeat;
          background-size: 100% 100%;
        }
        .mar{
          background: url('/img/编组 14@2x.png')no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    
  }
  .changecontent{
    flex:1;
    display: flex;
    overflow-y: auto;
    .leftContent{
      width: 20%;
      height: 100%;
      padding: 0 0.3rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      a{
        display: flex;
        align-items: center;
        border-radius:50px;
        padding:0.22rem 0.85rem 0.2rem 0.5rem;
        box-sizing: border-box;
        font-size:0.2rem;
        font-weight:500;
        // line-height:0.32rem;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(56,47,68,1);
        i{
          width: 0.24rem;
          height: 0.24rem;
          margin-right: 0.1rem;
        }
        .noEx{
          background: url('/img/duihuanqingkuang 2@2x.png')no-repeat;
          background-size: 100% 100%;
        }
        .ex{
          background: url('/img/duihuanqingkuang@2x.png')no-repeat;
          background-size: 100% 100%;
        }
        .noPool{
          background: url('/img/zijinguanli@2x.png')no-repeat;
          background-size: 100% 100%;
        }
        .pool{
          background: url('/img/zijinguanli 2@2x.png')no-repeat;
          background-size: 100% 100%;
        }
      }
      .active{
        background: #F7F7F9;

      }
    }
    .exchange{
      width: 80%;
      height: 100%;
      padding-top:0.08rem;
      padding-left:0.08rem;
      box-sizing: border-box;
      background: rgba(247, 247, 249, 1);
      .exchangeContent{
        width: 100%;
        height: 100%;
        background: #FFF;
        position: relative;
        .minePool{
          width: 1.45rem;
          height: 0.34rem;
          border-radius:16px;
          border:1px solid rgba(97,49,171,1);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:0.2rem;
          font-weight:400;
          color:rgba(97,49,171,1);
          position: absolute;
          top: 0.41rem;
          left: 0.68rem;
          z-index: 1001;
          cursor: pointer;
          img{
            width: 0.2rem;
            height: 0.2rem;
            margin-right: 0.06rem;
          }
        }
        .poolClick{
          background:rgba(97,49,171,1);
          color:rgba(255,255,255,1)
        }
        .exchangeContents{
          width: 7.35rem;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          h4{
            font-size:0.2rem;
            font-weight:600;
            color:rgba(56,47,68,1);
            margin-top: 0.46rem;
          }
          .form{
            width: 100%;
            >p{
              width: 100%;
              font-size:0.14rem;
              font-weight:400;
              color:rgba(92,92,92,1);
              margin-top: 0.3rem;
              margin-bottom: 0.08rem!important;
              text-align: right;
            }
            .dropdown{
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 0.17rem;
              box-sizing: border-box;
              margin-bottom: 0.1rem;
              margin-top: 0.2rem;
              .dropdown2{
                  position: relative;
                  display: flex;
                  // top: -0.05rem;
                  >p{
                    font-size:0.14rem;
                    font-weight:400;
                    color:rgba(255,255,255,1);
                  }
                  >span{
                    // width: 0.55rem;
                    // height: 0.22rem;
                    padding: 0.04rem 0.1rem;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:rgba(241, 238, 251, 1);
                    font-size:0.14rem;
                    font-weight:400;
                    color:rgba(112,56,253,1);
                    border-radius: 11px;
                    cursor: pointer;

                    i{
                      display: flex;
                      width: 0.1rem;
                      height: 0.1rem;
                      margin-left: 0.05rem;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                  .showClick{
                    background:rgba(112,56,253,1);
                    color:rgba(255,255,255,1);
                    i{
                      margin-top: 0.05rem;
                    }
                  }
                  .dropdown-content2{
                    width:0.65rem;
                    padding:0 0.05rem;
                    padding-bottom: 0.1rem;
                    box-sizing: border-box;
                    position: absolute;
                    top:0.35rem;
                    left: 0.01rem;
                    display: flex;
                    flex-direction: column;
                    background:rgba(241, 238, 251, 1);
                    // display: none;
                    span{
                      // width: 100%;
                      height: 0.25rem;
                      line-height: 0.22rem;
                      text-align: center;
                      font-size:0.14rem;
                      font-weight:400;
                      color:rgba(51,51,51,1);
                      border-radius:11px;
                      margin-top: 0.1rem;
                      cursor: pointer;
                    }
                    .active{
                      background: #FFF;

                    }
                  }
                }
            }
            .iptForm1,.iptForm{
              width: 100%;
              height: 0.94rem;
              border-radius:9px;
              border:1px solid rgba(194,194,194,1);
              display: flex;
              flex-direction: column;
              padding:0 0.18rem;
              box-sizing: border-box;
              label{
                font-size:0.14rem;
                font-weight:400;
                color:rgba(51,51,51,1);
                margin-top: 0.1rem;
                margin-bottom: 0.15rem;
              }
              .iptContent{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input{
                  height: 0.28rem;
                  font-size:0.28rem;
                  font-weight:bold;
                  color:rgba(56,47,68,1);
                  border: 0;
                  outline: 0;
                }
                ::-webkit-input-placeholder{
                  font-size:0.28rem;
                  font-weight:bold;
                  color:rgba(194,194,194,1);
                }
                .dropdown1{
                  position: relative;
                  display: flex;
                  top: -0.05rem;
                  >span{
                    width: 1.2rem;
                    height: 0.35rem;
                    padding: 0 0.14rem;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:rgba(241, 238, 251, 1);
                    font-size:0.16rem;
                    font-weight:400;
                    color:rgba(112,56,253,1);
                    border-radius: 16px;
                    cursor: pointer;

                    i{
                      display: flex;
                      width: 0.1rem;
                      height: 0.1rem;
                      margin-left: 0.05rem;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                  .showClick{
                    background:rgba(112,56,253,1);
                    color:rgba(255,255,255,1);
                    i{
                      margin-top: 0.05rem;
                    }
                  }
                  .dropdown-content1{
                    width:1.2rem;
                    padding: 0 0.14rem;
                    padding-bottom: 0.1rem;
                    box-sizing: border-box;
                    position: absolute;
                    top:0.35rem;
                    left: 0.01rem;
                    // overflow: auto;
                    display: flex;
                    flex-direction: column;
                    background:rgba(241, 238, 251, 1);
                    // display: none;
                    span{
                      // width: 100%;
                      height: 0.25rem;
                      line-height: 0.22rem;
                      text-align: center;
                      font-size:0.14rem;
                      font-weight:400;
                      color:rgba(51,51,51,1);
                      border-radius:11px;
                      margin-top: 0.1rem;
                      cursor: pointer;
                    }
                    .active{
                      background: #FFF;

                    }
                  }
                }
              }
            }
            .changeImg{
              width: 0.3rem;
              height: 0.3rem;
              display: flex;
              margin: 0.08rem auto;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .iptForm1{
               .iptContent{
                 .dropdown1{
                   >span{
                     width: 1.4rem;
                     border:1px solid rgba(112,56,253,1);
                     background: #FFF;
                   }
                   .dropdown-content2{
                     
                     position: absolute;
                     width: 3.75rem;
                     height: 3.38rem;
                     background: #FFF;
                     display: flex;
                    flex-direction: column;
                    display: none;
                   }
                }
               }
            }
            .changeRate{
              font-size:0.12rem;
              font-weight:400;
              color:rgba(92,92,92,1);
              margin-top: 0.1rem;
              margin-left: 0.18rem;
            }
          }
          .foot{
            width: 2.75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .btn{
            width: 2.75rem;
            height: 0.53rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background:rgba(96,66,158,1);
            border-radius:27px;
            font-size:0.22rem;
            font-weight:500;
            color:rgba(255,255,255,1);
            margin-top: 0.3rem;
            cursor: pointer;
          }
          .active{
            background:rgba(135,108,192,1);
          }
          .descr{
            font-size:0.14rem;
            font-weight:400;
            color:rgba(247,78,78,1);
            margin-top: 0.1rem;
          }
          .changeRecord{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h4{
              width: 0.15rem;
              font-size:0.16rem;
              font-weight:400;
              color:rgba(61,57,73,1);
              border-bottom: 2px solid rgba(112, 56, 253, 1);
              white-space: nowrap;
              line-height: 0.24rem;
            }
            .changeLists{
               width: 100%;

              .changeList{
                width: 100%;
                height: 0.6rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgba(224, 224, 224, 1);
                .list1{
                  width: 45%;
                  display: flex;
                  justify-content: space-between;
                  span{
                    font-size:0.14rem;
                    font-weight:400;
                    color:rgba(19,183,136,1);
                  }
                  .red{
                    color:rgba(229, 64, 64, 1);
                  }
                  .yel{
                    color:rgba(251, 143, 11, 1);
                  }
                  p{
                    font-size:0.16rem;
                    font-weight:400;
                    color:rgba(56,47,68,1);
                  }
                }
                .changeImg{
                  width: 0.12rem;
                  height: 0.11rem;
                  display: flex;
                  img{
                    width: 100%;
                    height: 100%;
                  }
                }
                .list2{
                  width: 45%;
                  display: flex;
                  justify-content: space-between;
                  span{
                    font-size:0.16rem;
                    font-weight:400;
                    color:rgba(56,47,68,1);
                  }
                  p{
                    font-size:14px;
                    font-weight:400;
                    color:rgba(153,153,153,1);
                    display: flex;
                    align-items: center;
                    i{
                      width: 0.13rem;
                      height: 0.13rem;
                      display: flex;
                      margin-left: 0.1rem;
                      img{
                        width: 100%;
                        height: 100%;
                      }
                    }
                  }
                }
              }
            }
            
          }
        }
      }
    }
  }

  .content{
    flex:1;
    display: flex;
    overflow-y: auto;
    .leftContent{
      width: 20%;
      height: 100%;
      padding: 0 0.17rem;
      box-sizing: border-box;
      p{
        display: flex;
        align-items: center;
        // width: 90%;
        // height: 100rem;
        margin:0.28rem 0;
        border-radius:50px;
        padding:0.22rem 0.60rem;
        box-sizing: border-box;
        img{
          width: 0.56rem;
          height: 0.56rem;
        }
        label{
          font-size:0.32rem;
          font-weight:500;
          color:rgba(56,47,68,1);
          line-height:0.32rem;
          margin-left: 0.15rem;
        }
      }
      .active{
        background: #F7F7F9;

      }
    }
    .rightContent{
      width: 80%;
      height: 100%;
      background: #F7F7F9;
      padding-left: 0.30rem;
      box-sizing: border-box;
      overflow-y: auto;
      .back{
        position: absolute;
        top: 0.3rem;
        left: 3rem;
        margin-left: 1.6rem;
        display: flex;
        align-items: center;
        
        i{
          width: 0.16rem;
          height: 0.27rem;
          display: flex;
          img{
            width:100%;
            height: 100%
          }
        }
        label{
          font-size:0.24rem;
          font-weight:500;
          color:rgba(80,27,162,1);
          margin-left: 0.13rem;
        }
      }
      h2{
        font-size:0.24rem;
        font-weight:400;
        color:rgba(0,7,52,.6);
        line-height:0.24rem;
        margin-top: 0.50rem;
        margin-left: 0.25rem;
      }
      .identityList{
        display: flex;
        margin-top: 0.5rem;
        h4{
          font-size:0.32rem;
          font-weight:bold;
          color:rgba(255,255,255,1);
          line-height:0.32rem;
          margin:0;
          margin-top: 0.20rem;
        }
        p{
          font-size:0.24rem;
          font-weight:400;
          color:rgba(255,255,255,1);
          line-height:0.24rem;
          overflow: hidden; 
          text-overflow: ellipsis; 
          margin-top: 0.2rem
        }
        .listContent{
          width:48%;
          height: 1.41rem;
          padding-left: 0.29rem;
          box-sizing: border-box;
          margin-right: 0.20rem;
        }
        .vBack{
          background: url('/img/编组 31@2x.png');
          background-size: 100% 100%;
        }
        .lBack{
          background: url('/img/编组 32@2x.png');
          background-size: 100% 100%;
        }
        .bBack{
          background: url('/img/编组 33@2x.png');
          background-size: 100% 100%;
        }
      }
      .balanceList{
          width: 100%;
          background: #FFF;
          padding: 0.37rem 0 0.27rem 0.53rem;
          box-sizing: border-box;
          margin-top: 0.37rem;
          h4{
            margin: 0;
            font-size:0.24rem;
            font-weight:400;
            color:rgba(61,57,73,1);
            line-height:0.24rem;
            margin-bottom: 0.20rem;
          }
          .balance{
            display: flex;
            margin-bottom: 0.40rem;
            span{
              font-size:0.50rem;
              font-weight:bold;
              color:rgba(60,56,72,1);
              line-height:0.50rem;
            }
          }
          .list{
            display: flex;
            >p{
              font-size:0.24rem;
              font-weight:400;
              color:rgba(61,57,73,.5);
              line-height:0.24rem;
              margin: 0;
            }
            .addressCode{
              display: flex;
              span{
                font-size:0.24rem;
                font-weight:400;
                color:rgba(61,57,73,1);
                line-height:0.24rem;
                margin-left: 0.30rem;
              }
              i{
                width: 0.29rem;
                height: 0.29rem;
                display: flex;
                margin-left: 0.10rem;
                img{
                  width: 100%;
                  height: 100%
                }
              }
            }
          }
          .btns{
            display: flex;
            dl{
              width: 2.2rem;
              height: 0.53rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba(80, 27, 162, .06);
              margin-top: 0.33rem;
              margin-right: 0.6rem;
              border-radius:3px;
              cursor: pointer;
              dt{
                width: 0.4rem;
                height: 0.4rem;
                display: flex;
                margin-right: 0.12rem;
              
              }
              dd{
                font-size:0.24rem;
                font-weight:500;
                color:rgba(80,27,162,1);
              }
              
            }
            dl:hover{
              background: rgba(80, 27, 162, 1);
              
              dd{
                color: #FFF;
              }
            }
            dl:nth-child(1) dt{
              background: url('/img/transfer.png') no-repeat;
              background-size: 100% 100%;
            }
            dl:nth-child(2) dt{
              background: url('/img/getMoney.png') no-repeat;
              background-size: 100% 100%;
            }
            dl:nth-child(1):hover dt{
              width:0.35rem;
              height: 0.32rem;
              background: url('/img/transfer1.png') no-repeat;
              background-size: 100% 100%;
            }
            dl:nth-child(2):hover dt{
              background: url('/img/getMoney1.png') no-repeat;
              background-size: 100% 100%;
            }
          }
        }
        .dealList{
          width:100%;
          background: #FFF;
          padding: 0.37rem 0.50rem 0.27rem 0.53rem;
          box-sizing: border-box;
          margin-top: 0.40rem;
          .dealContent{
            padding: 0 0.20rem;
            box-sizing: border-box;
          }
          h3{
            display: flex;
            align-items: center;
            font-size:0.24rem;
            font-weight:400;
            color:rgba(61,57,73,.5);
            line-height:0.24rem;
            i{
              width:0.04rem;
              height:0.23rem;
              background:rgba(117,56,252,1);
              border-radius:4px;
              margin-right: 0.10rem;
            }
          }
          .dealLists{
            display: flex;
            flex-direction: column;
            padding-bottom: 25px;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(204, 204, 204, 1);
  
            .title{
              display: flex;
              margin-top: 0.40rem;
              justify-content: space-between;
              span{
                font-size:0.24rem;
                font-weight:400;
                color:rgba(0,0,0,.5);
                line-height:0.24rem;
              }
              .kai{
                color: rgba(251, 143, 11, 1);
              }
              .tranfer{
                color: rgba(229, 64, 64, 1);
              }
              .getMoney{
                color: rgba(19, 183, 136, 1);
              }
            }
            .titleContent{
              display: flex;
              margin-top: 0.22rem;
              justify-content: space-between;
              span{
                font-size:0.24rem;
                font-weight:400;
                color:rgba(0,0,0,1);
                line-height:0.24rem;
              }
              span:nth-child(2){
                margin-left: -1.9rem;
              }
            }
            .check{
              display: flex;
              justify-content: space-between;
              margin-top: 0.36rem;
              span:nth-child(1){
                font-size:0.24rem;
                font-weight:400;
                color:rgba(127,127,127,1);
                line-height:0.24rem;
              }
              span:nth-child(2){
                font-size:0.24rem;
                font-weight:400;
                color:rgba(122,122,238,1);
                line-height:0.24rem;
                cursor: pointer;
              }
            }
          }
        }
    }
    .transfar{
      padding: 0.37rem 0.73rem 0 0.53rem;
      box-sizing: border-box;
      .transfarContent{
        width: 100%;
        height: 100%;
        background: #FFF;
        .transfarList{
          width: 8.56rem;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          h4{
            font-size:0.32rem;
            font-weight:600;
            color:rgba(60,56,72,1);
            margin-top: 1.69rem;
            margin-bottom: 0.62rem;
          }
          .iptAddress{
            display: flex;
            margin-bottom: 0.14rem;
            textarea{
              width: 8.56rem!important;
              height: 1.61rem!important;
              border-radius:3px;
              border:1px solid rgba(151,151,151,1);
              resize:none;
              outline: none;
              font-size:0.24rem;
              font-weight:400;
              color:rgba(158,156,164,1);
              padding-top: 0.16rem;
              padding-left: 0.2rem;
              box-sizing: border-box;
              font-family: Arial, Helvetica, sans-serif;
            }
            textarea::-webkit-input-placeholder{
              font-size:0.24rem;
              font-weight:400;
              color:rgba(158,156,164,1)!important;
            }
          }
          .iptAmount{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 8.56rem!important;
            height: 0.8rem;
            border-radius:3px;
            border:1px solid rgba(151,151,151,1);
            padding-right: 0.1rem;
            box-sizing: border-box;
            input{
              width:6rem;
              height: 100%;
              padding-left: 0.2rem;
              box-sizing: border-box;
              outline: none;
              border: 0;
              color:rgba(158,156,164,1);
            }
            input::-webkit-input-placeholder{
              font-size:0.24rem;
              font-weight:400;
              color:rgba(158,156,164,1);
            }
            label{
              font-size:0.24rem;
              font-weight:400;
              color:rgba(60,56,72,1);
            }
          }
          .amountShow{
            width: 100%;
            display: flex;
            align-items: flex-start;
            margin-top: 0.19rem;
            
            p{
              font-size:0.2rem;
              font-weight:400;
              color:rgba(158,156,164,1);
              margin-left: 0.2rem;
              span{
                font-size:0.2rem;
                font-weight:500;
                color:rgba(60,56,72,1);
              }
            }
          }
          .foot{
            width: 2.75rem;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .btn{
            width: 2.75rem;
            height: 0.53rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background:rgba(96,66,158,1);
            border-radius:27px;
            font-size:0.22rem;
            font-weight:500;
            color:rgba(255,255,255,1);
            margin-top: 1.27rem;
          }
          .active{
            background:rgba(135,108,192,1);
          }
          .descr{
            font-size:0.2rem;
            font-weight:400;
            color:rgba(209,26,67,1);
            margin-top: 0.1rem;
          }
        }
      }
    }
  }
}

