//挖矿奖励
.miningAwards{
    width: 100%;
    flex: 1;
    background: #501BA2;
    margin-left: 8px;
    margin-top: 8px;
    padding: 62px 0 62px 0;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    .goRule{
        width: 135px;
        height: 34px;
        position: absolute;
        top: 0;
        right: -10px;
        display: flex;
        align-items: center;
        margin-top: 35px;
        >img{
            width: 135px;
            height: 34px;
            position: absolute;
        }
        p{
           position: relative;
           z-index: 10;
           margin-left: 20px;
           font-size: 14px;
           font-weight: 600;
           color: #FFFFFF;
           cursor: pointer;
           white-space: nowrap;
           img{
               width: 15px;
               height: 12px;
               margin-left: 8px;
           }
        }
    }
    .rightImg{
        display: flex;
        position: absolute;
        top: 62px;
        right: 0;
        img{
            width: 327px;
            height: 164px;
        }
    }
    .miningFundList{
      position: relative;
      width: 1070px;
    //   height: 382px;
      background: url('/img/m_蒙版 2@2x.png')no-repeat;
      background-size: 100% 100%;
      padding-left: 39px;
      padding-top: 43px;
      padding-bottom: 23px;
      box-sizing: border-box;
      .fundList{
          display: flex;
          flex-direction: column;
          h4{
              
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF;
            margin-bottom: 16px!important;
          }
          span{
              
            font-size: 40px;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 47px;
            letter-spacing: 1px;
            margin-bottom: 30px;
          }
          p{
            width: 100px;
            height: 32px;
            background:rgba(255, 255, 255, .1);
            border-radius: 16px;
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img{
                width: 5px;
                height: 9px;
                margin-left: 6px;
            }
          }
      }
      .poolingFund{
          width: 100%;
          // height: 156px;
          display: flex;
          padding-top: 19px;
          box-sizing: border-box;
          margin-top: 35px;
          >div{
            display: flex;
          }
          .poolingFundContent{
            width: 50%;
            height: 100%;
            padding-right: 45px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            p:nth-child(1){
            font-size: 14px;
            font-weight: 600;
            color: #FFFFFF;
            }
            p:nth-child(2){
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                span{
                font-size: 24px;
                font-weight: bold;
                color: #FFFFFF;
                label{
                  display: inline-block;
                  font-size: 12px;
                  font-weight: 400;
                  color: #FFFFFF;
                  margin-right: 16px;
                  position: relative;
                  top: -2px;
                }
                }
                button{
                    width: 100px;
                    height: 28px;
                    background: linear-gradient(360deg, #FFD519 0%, #FFE689 100%);
                    box-shadow: 0px 1px 0px 0px #FFAA13;
                    border-radius: 20px;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;
                    color: #7035BF;
                    margin-top:3px;
                }
            }
          }
          p:nth-child(3){
            // height: 32px;
            background:rgba(255, 255, 255, .1);
            border-radius: 8px;
            font-size: 10px;
            font-weight: 400;
            color: #FFFFFF;
            padding: 6px 12px;
            box-sizing: border-box;
            margin-top: 25px;
            
            img{
                width: 10px;
                height: 10px;
                margin-right: 3px;
                margin-top: -2px;
            }
          }
          .poolingFundContent:nth-child(3){
              padding-left: 45px;
              box-sizing: border-box;
              border-left: 0.5px solid  rgba(255, 255, 255, 1);
          }
          // .line{
          //   width: 0.5px;
          //   height: 100%;
          //   background: rgba(255, 255, 255, 1);
          // }
      }
    }
    .getMoreVLS{
        width: 1070px;
        // height: 327px;
        background: #FFF;
        margin: 24px auto;
        padding-left: 29px;
        padding-right: 27px;
        box-sizing: border-box;

        h3{
            font-size: 20px;
            font-weight: 500;
            color: #333333;
            margin-top: 34px;
            margin-bottom: 0!important;
            padding-bottom: 21px!important;
            padding-left: 14px;
            border-bottom: 0.5px solid rgba(222, 222, 222, 1);
        }
        .getMoreContent{
          width: 100%;
        //   border-top: 0.5px solid rgba(222, 222, 222, 1);
          display: flex;
          >div{
              width: 50%;
              p{
                  height: 82px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  label{
                      
                    font-size: 16px;
                    font-weight: 400;
                    color: #333333;
                  }
                  button.btn{
                    width: 100px;
                    height: 30px;
                    background: #7038FD;
                    border-radius: 100px 94px 94px 100px;
                    border: #7038FD;
                    outline: 0;
                    font-size: 14px;
                    font-weight: 500;
                    color: #FFFFFF;
                    cursor: pointer;
                  }
                  button.btn1{
                    background: #BABABA;
                  }
              }
          }
          >div:nth-child(1){
              border-right: 0.5px solid rgba(222, 222, 222, 1);
              padding-left: 14px;
              padding-right:46px;
              box-sizing: border-box;
          }
          >div:nth-child(2){
              padding-left: 44px;
              padding-right:18px;
              box-sizing: border-box;
          }
        }
    }
    .rankingList{
        width: 1070px;
        // height: 327px;
        background: #FFF;
        margin: 24px auto;
        padding-left: 29px;
        padding-right: 27px;
        box-sizing: border-box;
        .head{
            width: 100%;
            margin-top: 34px;
            margin-bottom: 0!important;
            padding-bottom: 21px;
            padding-left: 14px;
            padding-right: 18px;
            border-bottom: 0.5px solid rgba(222, 222, 222, 1);
            display:flex;
            justify-content: space-between;
            h3{
            font-size: 20px;
            font-weight: 500;
            color: #333333;
            margin-bottom: 0!important;
           }
           p{
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            cursor: pointer;
            img{
                width: 16px;
                height: 16px;
                margin-left: 3px;
            }
           }
        }
        .list{
            p{
                height: 82px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 37px;
                box-sizing: border-box;
                span{
                    font-size: 16px;
                    font-weight: 400;
                    color: #333333;
                    span{
                    font-size: 16px;
                    // font-family: Roboto-Medium, Roboto;
                    font-weight: 500;
                    color: #333333;
                    margin-right: 20px;
                    margin-left:20px;
                    }
                   img{
                       width: 21px;
                       height: 26px;
                       margin-left: 14px;
                       margin-right: 16px;
                   }
                }
            }
        }
    }
}
.miningAwards1{
    width: 100%;
    height: 100%;
    background: #501BA2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    .goRule{
        width: 135px;
        height: 34px;
        position: absolute;
        top: 0;
        right: -25px;
        display: flex;
        align-items: center;
        margin-top: 35px;
        >img{
            width: 135px;
            height: 34px;
            position: absolute;
        }
        p{
           position: relative;
           z-index: 10;
           margin-left:17px;
           font-size: 14px;
           font-weight: 600;
           color: #FFFFFF;
           cursor: pointer;
           display: flex;
           align-items: center;
           img{
               width: 15px;
               height: 12px;
               margin-left: 8px;
           }
        }
    }
    
    .miningFundList{
      // position: relative;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 23px;
      box-sizing: border-box;
      .fundList{
          width: 100%;
          height: 450px;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          margin-top: 52px;
          .rightImg{
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            z-index: 1;
            margin-top: -60px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          h4{
              font-size: 14px;
              font-weight: 500;
              color: #FFFFFF;
              margin-bottom: 0!important;
          }
          span{
              font-size: 32px;
              font-weight: bold;
              color: #FFFFFF;
          }
          p{
            width: 82px;
            height: 24px;
            background:rgba(255, 255, 255, .1);
            border-radius: 15px;
            font-size: 12px;
            font-weight: 400;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            z-index: 2;
            img{
                width: 5px;
                height: 9px;
                margin-left: 6px;
            }
          }
      }
      .poolingFund{
          width: 100%;
          padding: 0 15px 0;
          box-sizing: border-box;
          margin-top: -95px;
          position: relative;
          z-index: 99;
          >div{
            width: 100%;
            border-radius: 16px;
            background: rgba(147, 57, 243, 1);
            display: flex;
            flex-direction: column;
            padding: 0 15px 0;
            box-sizing: border-box;
          }
          .line{
                   width: 200%;
                   height: 0.25px;
                   background: rgba(255, 255, 255, 1);
                   transform-origin:0 0;
                   transform:scale(0.5);
               }
          .poolingFundContent{
            width: 100%;
            height: 100%;
            padding-top: 25px;
            padding-bottom:19px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            p:nth-child(1){
              font-size: 14px;
              font-weight: 600;
              color: #FFFFFF;
            }
            p:nth-child(2){
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                span{
                font-size: 24px;
                font-weight: bold;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                position: relative;
                top: 5px;
                label{
                font-size: 12px;
                font-weight: 400;
                color: #FFFFFF;
                margin-right: 15px;
                }
                }
                button{
                    width: 80px;
                    height: 28px;
                    background: linear-gradient(360deg, #FFD519 0%, #FFE689 100%);
                    box-shadow: 0px 1px 0px 0px #FFAA13;
                    border-radius: 20px;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;
                    color: #7035BF;
                }
            }
          }
          .poolingFundContent:nth-child(3){
              padding-bottom: 25px;
          }
          p:nth-child(3){
            // height: 32px;
            background:rgba(255, 255, 255, .1);
            border-radius: 8px;
            font-size: 10px;
            font-weight: 400;
            color: #FFFFFF;
            padding: 6px 12px;
            box-sizing: border-box;
            margin-top: 25px;
            
            img{
                width: 10px;
                height: 10px;
                margin-right: 3px;
                margin-top: -2px;
            }
          }
      }
    }
    .getMoreVLS{
        width: 100%;
        margin: 10px auto;
        padding:0 15px;
        box-sizing: border-box;
        >div{
          width: 100%;
          background: #FFF;
          border-radius: 16px;
          padding:0 20px;
          box-sizing: border-box;
        }
        .line{
          width: 100%;
          height: 1px;
          background: url('/img/mobile_m_路径 14@2x.png')no-repeat;
          background-position: center center;
          background-size: 100%;
        }
        h3{
            font-size: 20px;
            font-weight: 500;
            color: #333333;
            padding-top: 18px;
            box-sizing: border-box;

        }
        
        .getMoreContent{
          width: 100%;
          display: flex;
          flex-direction: column;
          >div{
              width: 100%;
              p{
                  height: 82px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  label{
                      
                    font-size: 16px;
                    font-weight: 400;
                    color: #333333;
                  }
                  button.btn{
                    width: 100px;
                    height: 30px;
                    background: #7038FD;
                    border-radius: 100px 94px 94px 100px;
                    border: #7038FD;
                    outline: 0;
                    font-size: 14px;
                    font-weight: 500;
                    color: #FFFFFF;
                    cursor: pointer;
                  }
                  button.btn1{
                    background: #BABABA;
                  }
              }
          }
        }
    }
    .rankingList{
        width: 100%;
        // height: 327px;
        margin: 24px auto;
        padding: 0 15px;
        box-sizing: border-box;
        >div{
         width: 100%;
         padding: 0 20px;
         box-sizing: border-box;
         background: #FFF;
         border-radius: 16px;
         display: flex;
         flex-direction: column;
        }
        .line{
          width: 100%;
          height: 1px;
          background: url('/img/mobile_m_路径 14@2x.png')no-repeat;
          background-position: center center;
          background-size: 100%;
        }
        .head{
            width: 100%;
            margin-top: 18px;
            padding-bottom: 10px;
            display:flex;
            justify-content: space-between;
            h3{
            font-size: 20px;
            font-weight: 500;
            color: #333333;
            margin-bottom: 0!important;
           }
           p{
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            cursor: pointer;
            label{
              display: none;
            }
            img{
                width: 16px;
                height: 16px;
                margin-left: 3px;
            }
           }
        }
        .list{
          padding-bottom: 22px;
          box-sizing: border-box;
            p{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 22px;
                span{
                    font-size: 14px;
                    font-weight: 400;
                    color: #333333;
                    span{
                    font-size: 14px;
                    // font-family: Roboto-Medium, Roboto;
                    font-weight: 500;
                    color: #333333;
                    margin-right: 12px;
                    margin-left: 5px;
                    }
                   img{
                       width: 21px;
                       height: 26px;
                       margin-right: 7px;
                   }
                }
            }
        }
    }
}
//规则说明
.ruleDescription{
    width: 100%;
    flex: 1;
    overflow-y: auto;
    >div{
      width: 1070px;
      margin:70px auto;
      margin-bottom: 40px;
    }
    .ant-breadcrumb {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 23px;
        margin-left: 32px;
         span{
          
          font-size: 20px;
          // font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #3C3848;
          margin-right: 40px;
        }
        span:nth-child(1){
          width: 24px;
          height: 24px;
        }
        a{
            font-size: 14px;
            display: flex;
            align-items: center;
            img{
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
        }
        a:hover{
            color: #5C5C5C;
        }
    }
    .ruleDescriptionOne{
      width: 100%;
      padding: 0 26px 0 33px;
      box-sizing: border-box;
      background: #FFFF;
      margin-top: 27px;
      >div{
        // height: 131px;
        display: flex;
        flex-direction: column;
        padding-top:20px;
        padding-bottom: 23px;
        box-sizing: border-box;
        h4{
          font-size: 14px;
          font-weight: 500;
          color: #333333;
          display: flex;
          align-items: center;
          // margin-top: 20px;
          margin-bottom: 12px;
          img{
            width: 28px;
            height: 28px;
            margin-right: 10px;
            margin-top: -3px;
          }
          
        }
        p{
          
            font-size: 14px;
            font-weight: 400;
            color: #5C5C5C;
            margin-left: 6px;
            margin-bottom: 3px!important;
        }
      }
      >div:not(:last-child){
        border-bottom: 0.5px solid rgba(222, 222, 222, 1);
      }
      >div:nth-child(2){
        h4{
          img{
            width:30px;
            height: 27px;
          }
        }
      }
      >div:nth-child(3){
        h4{
          img{
            width:25px;
            height:21px;
          }
        }
      }
      >div:last-child{
        h4{
          img{
            width:28px;
            height:27px;
          }
        }
      }
    }
    .ruleDescriptionTwo{
      width: 100%;
      padding: 32px 29px 0 30px;
      box-sizing: border-box;
      background: #FFFF;
      margin-top: 24px;
      >div{
         margin-left: 13px;
        p{
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          font-weight: 400;
          color: #5C5C5C;
        }
      }
      h4{
        width: 100%;
        height: 36px;
        background:rgba(247, 247, 247, 1);
        display: flex;
        // margin-top: 32px;
        align-items: center;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        color: #5C5C5C;
         i{
           width: 14px;
           height: 14px;
          background: url('/img/m_编组 26@2x.png')no-repeat;
          background-position: center center;
          background-size: 100%;
          margin-left: 14px;
          margin-right: 13px;
        }
      }
    }
  }
.ruleDescription1{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
    box-sizing: border-box;
    background: rgba(103, 48, 182, 1);
    >div{
      width: 100%;
    }
  .ant-breadcrumb{
    display: none;
  }
  .ruleDescriptionOne{
      width: 100%;
      margin-top: 21px;
      >div{
        // height: 131px;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        padding: 10px 15px 17px 11px;
        padding-top:10px;
        padding-left: 11px;
        padding-bottom: 17px;
        box-sizing: border-box;
        margin-bottom: 10px;
        background: #FFFF;
        h4{
          font-size: 14px;
          font-weight: 500;
          color: #333333;
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          img{
            width: 33px;
            height: 33px;
            margin-right: 6px;
          }
          
        }
        p{
          
            font-size: 12px;
            font-weight: 400;
            color: #5C5C5C;
            margin-left: 10px;
            margin-bottom: 3px!important;
        }
      }
      >div:nth-child(3){
        h4{
          img{
            width:25px;
            height:21px;
          }
        }
      }
      >div:nth-child(4){
        h4{
          img{
            width:28px;
            height:28px;
          }
        }
      }
      >div:last-child{
        h4{
          img{
            width:28px;
            height:27px;
          }
        }
      }
    }
    .ruleDescriptionTwo{
      width: 100%;
      padding: 0 15px;
      padding-top:11px;
      padding-bottom: 6px;
      background: #FFFF;
      margin-top: 24px;
      margin-bottom: 37px;
      border-radius: 16px;
      background: rgba(255, 255, 255, .1);
      >div{
        margin-left: 13%;
        margin-top: 22px;
          p{
            margin-bottom: 15px!important;
            font-size: 12px;
            font-weight: 400;
            color: #FFFFFF;
            margin: 0 auto;
          }
       }
      
      h4{
        width: 100%;
        height: 36px;
        background:rgba(103, 48, 182, 1);
        display: flex;
        align-items: center;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
        i{
          width: 14px;
          height: 14px;
          background: url('/img/mobile_m_编组 26@2x.png')no-repeat;
          background-position: center center;
          background-size: 100%;
          margin-left: 14px;
          margin-right: 13px;
        }
      }
    }
}
//收益明细
.miningDetails{
    width: 100%;
    flex: 1;
    overflow-y: auto;
    >div{
      width: 1071px;
      margin:0 auto;
      margin-top: 70px;
    }
    .ant-breadcrumb {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 23px;
        margin-left: 22px;
         span{
          font-size: 20px;
          // font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #3C3848;
        }
        a{
            font-size: 14px;
            display: flex;
            align-items: center;
            img{
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
        }
        a:hover{
            color: #5C5C5C;
        }
    }
    .detailList{
       width: 100%;
       background: #FFF;
       padding: 0 28px;
       box-sizing: border-box;
       margin-top: 21px;
       padding-top: 30px;
       padding-bottom: 40px;
       box-sizing: border-box;
       //分页器样式
       .ant-pagination{
         display: flex;
         justify-content: center;
         margin-top: 30px;
         .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next{
           min-width: 23px;
           height: 23px;
           line-height: 23px;
         }
        .ant-pagination-item-active a{
          color: rgba(112, 56, 253, 1);
        }
        .ant-pagination-item{
          min-width: 23px;
           height: 23px;
           line-height: 22px;
        }
        .ant-pagination-item:focus, .ant-pagination-item:hover{
          border-color:rgba(112, 56, 253, 1);
        }
        .ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link{
          color: rgba(112, 56, 253, 1);
          border-color:rgba(112, 56, 253, 1);
        }
        .ant-pagination-item:focus a, .ant-pagination-item:hover a{
           color: rgba(112, 56, 253, 1);
        }
        .ant-pagination-item-active{
          border-color:rgba(112, 56, 253, 1);
        }
       }
       //tab头部
       .ant-tabs-nav{
         padding-left: 26px;
         box-sizing: border-box;
       }
       .ant-tabs-tab{
        font-size: 16px;
        font-weight: 400;
        color: #999999;
        padding: 8px 0;
       }
       .ant-tabs-tab:hover{
         font-weight: 600;
        color: #333333;
       }
       .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
         
        font-weight: 600;
        color: #333333;
       }
       .ant-tabs-ink-bar{
         width:18px!important;
         height: 6px;
         border-radius: 15px;
        background: rgba(112, 56, 253, 1);
       }
       .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
         border-bottom: 0;
       }
       //tab列表
       .listContent{
               margin-top: 30px;
               .headList{
                 height: 34px;
                 padding-left: 26px;
                 padding-right: 25px;
                 box-sizing: border-box;
                 border-bottom: 0.5px solid rgba(222, 222, 222, 1);
                 display: flex;
                 align-items: center;
                //  justify-content: space-between;
                 span{
                  display: flex;
                  font-size: 14px;
                  font-weight: 400;
                  color: #999999;
                 }
                 span:not(:last-child){
                    width: 23%;
                 }
                 span:last-child{
                   width: 31%;
                   justify-content: flex-end;
                 }
         }
         .listContents{
            display: flex;
            flex-direction: column;
            padding-left: 26px;
            padding-right: 25px;
            box-sizing: border-box;
            p{
              display: flex;
              // justify-content: space-between;
              margin-top: 33px;
              span{
                display: flex;
                font-size: 16px;
              }
              span:not(:last-child){
                width: 23%;
              }
              span:nth-child(1),span:nth-child(3){
                font-weight: 400;
                color: #333333;
              }
              span:nth-child(2){
                font-weight: 500;
                color: #13B788;
              }
              span:last-child{
                width: 31%;
                font-weight: 400;
                color: #333333;
                justify-content: flex-end;
              }
              // span:nth-child(3){
              //   width: 23%;
                
              //   font-size: 16px;
              //   font-family: Roboto-Regular, Roboto;
              //   font-weight: 400;
              //   color: #333333;
              //   font-size: 16px;
              //   font-weight: 500;
              //   color: #13B788;
              // }
            }
         }
       }
    }
}

//排行榜,邀请榜单
.rankingLists,.invitationList{
    width: 100%;
    flex: 1;
    overflow-y: auto;
    >div{
      width: 1071px;
      margin:0 auto;
      margin-top: 70px;
    }
    .ant-breadcrumb {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 23px;
        margin-left: 22px;
        span:nth-child(1){
          z-index: 99;
        }
        span:nth-child(2){
          font-size: 20px;
          font-weight: 600;
          color: #3C3848;
          margin-left: 160px;
        }
        span:nth-child(3){
          
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: 500;
          color: #272728;
          img{
            width: 18px;
            height: 16px;
            margin-right: 3px;
          }
        }
        a{
            font-size: 14px;
            display: flex;
            align-items: center;
            img{
                width: 24px;
                height: 24px;
                margin-right: 8px;
            }
        }
        a:hover{
            color: #5C5C5C;
        }
    }
    .rankingWrap{
      width: 100%;
      .topThreeList{
        display: flex;
        margin-top: 55px;
        >div{
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          flex-shrink: 0;
          p:nth-child(2){
          font-size: 14px;
          font-weight: 400;
          color: #255FC2;
          margin-top: 24px;
          margin-bottom: 19px!important;
          }
          
          p:nth-child(3),p:nth-child(4){
          // font-family: Roboto-BoldItalic, Roboto;
          font-size: 20px;
          font-weight: 600;
          color: #13B788;
          }
          p.inv{
            margin-bottom: 20px!important;
            font-size: 14px;
            // font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
            span{
              font-size: 14px;
              font-weight: 500;
              color: rgba(51, 51, 51, 1);

            }
          }
        }
        .topOne{
          width: 389px;
          height: 216px;
          background: url('/img/m_编组 9@2x.png') no-repeat;
          background-size: 100% 100%;
          // left: 50%;
          margin-left: -29px;
          margin-right: -30px;
          // top: 0;
          z-index: 3;
          .topLogo{
            display: flex;
            margin-top: -35px;
            img{
              width: 65px;
              height: 79px;
            }
          }
        }
        .topTwo{
          width: 373px;
          height: 180px;
          background: url('/img/m_编组 155@2x.png') no-repeat;
          background-size: 100% 100%;
          margin-top: 22px;
          z-index: 1;
          .topLogo{
            display: flex;
            margin-top: -30px;
            img{
              width: 49px;
              height: 59px;
            }
          }
        }
        .topThree{
          width: 373px;
          height: 180px;
          background: url('/img/m_编组 14@2x.png') no-repeat;
          background-size: 100% 100%;
          margin-top: 22px;
          z-index: 1;
          .topLogo{
            display: flex;
            margin-top: -30px;
            img{
              width: 49px;
              height: 59px;
            }
          }
        }
      }
      .residualRanking{
        width: 100%;
        padding: 35px 28px 50px 28px;
        box-sizing: border-box;
        background: #FFFFFF;
        margin-top: -25px;
        position: relative;
        z-index: 5;
        .head{
          height: 40px;
          display: flex;
          align-items:center;
          border-bottom: 0.5px solid rgba(222, 222, 222, 1);
          span{
          font-size: 14px;
          font-weight: 400;
          color: #999999;
          // font-family: PingFangSC-Regular, PingFang SC;
          }
          span:nth-child(1){
            width: 13%;
          }
          span:nth-child(2){
            width: 24%;
          }
        }
        .list{
          width: 100%;
          display: flex;
          div{
            width: 50%;
            p{
              margin-top: 30px;
              display: flex;
              span:nth-child(1){
                width: 26%;
                font-size: 16px;
                // font-family: Roboto-Bold, Roboto;
                font-weight: bold;
                color: #333333;
              }
              span:nth-child(2){
                width: 48%;
                font-size: 16px;
                // font-family: Roboto-Regular, Roboto;
                font-weight: 400;
                color: #333333;
                
              }
              span:nth-child(3){
                
                font-size: 16px;
                // font-family: Roboto-Medium, Roboto;
                font-weight: 500;
                color: #13B788;
              }
            }
          }
          div:nth-child(2){
            padding-left: 40px;
          }
        }
      }
    }
}
.invitationList{
  .rankingWrap{
.residualRanking{
     .head{
       span:nth-child(1){
            width: 10%;
          }
          span:nth-child(2){
            width: 15%;
          }
          span:nth-child(3){
            width: 12%;
          }
     }
     .list {
       >div{
         p{
              span:nth-child(1){
                width: 20%;
              }
              span:nth-child(2){
                width: 30%;
              }
              span:nth-child(3){
                width: 24%;
              }
            }
       }
     }
   }
  }
   
}
.rankingLists1,.invitationList1{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    >div{
      width: 100%;
      padding: 0 15px;
      box-sizing: border-box;
    }
     .ant-breadcrumb {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 23px;
        margin-left: 22px;
        span:first-child{
          display: none;
        }
        span:nth-child(2){
         display: none;
        }
        span:nth-child(3){
          font-size: 12px;
          font-weight: 500;
          color: #272728;
          margin-left: -10px;
          img{
            width: 18px;
            height: 16px;
            margin-right: 3px;
          }
        }
    }
    .rankingWrap{
      width: 100%;
      .topThreeList{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 55px;
        >div{
          width: 34%;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          position: relative;
          flex-shrink: 0;
          p:nth-child(2){
          font-size: 12px;
          font-weight: 400;
          color: #255FC2;
          margin-top: 24px;
          margin-bottom: 32px!important;
          }
          
          p:nth-child(3),p:nth-child(4){
          // font-family: Roboto-BoldItalic, Roboto;
          font-size: 20px;
          font-weight: normal; 
          color: #13B788;
          }
          p.inv{
            
            font-size: 9px;
            // font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #999999;
            span{
              font-size: 9px;
              font-weight: 500;
              color: rgba(51, 51, 51, 1);
            }
          }
        }
        .topOne{
          height: 200px;
          background: url('/img/m_编组 9@2x.png') no-repeat;
          background-size: 100% 100%;
          margin-left: -8px;
          margin-right: -7px;
          z-index: 3;
          p:nth-child(2){
            margin-top: 30px;
          }
          .topLogo{
            display: flex;
            margin-top: -35px;
            img{
              width: 65px;
              height: 79px;
            }
          }
        }
        .topTwo{
          height: 180px;
          background: url('/img/m_编组 155@2x.png') no-repeat;
          background-size: 100% 100%;
          margin-top: 22px;
          z-index: 1;
          .topLogo{
            display: flex;
            margin-top: -30px;
            img{
              width: 49px;
              height: 59px;
            }
          }
        }
        .topThree{
          height: 180px;
          background: url('/img/m_编组 14@2x.png') no-repeat;
          background-size: 100% 100%;
          margin-top: 22px;
          z-index: 1;
          .topLogo{
            display: flex;
            margin-top: -30px;
            img{
              width: 49px;
              height: 59px;
            }
          }
        }
      }
      .residualRanking{
        width: 100%;
        padding: 0 20px;
        padding-bottom: 30px;
        box-sizing: border-box;
        background: #FFFFFF;
        margin-top: -20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 5;
        .head{
          display: flex;
          align-items:center;
          justify-content: space-between;
          span{
          font-size: 14px;
          font-weight: 400;
          color: #999999;
          // font-family: PingFangSC-Regular, PingFang SC;
          }
          
          
        }
        
      }
    }
}
.rankingLists1{
  .rankingWrap{
    .residualRanking{
     .head{
        span:nth-child(2){
          margin-left: -35%;
        }
        
      }
      .list{
                width: 100%;
                display: flex;
                flex-direction: column;
                div{
                  p{
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    span:nth-child(1){
                      width:15%;
                      font-size: 16px;
                      // font-family: Roboto-Bold, Roboto;
                      font-weight: bold;
                      color: #333333;
                    }
                    span:nth-child(2){
                      flex: 1;
                      font-size: 16px;
                      // font-family: Roboto-Regular, Roboto;
                      font-weight: 400;
                      color: #333333;
                      margin-left: 25px;
                    }
                    span:nth-child(3){
                      font-size: 16px;
                      // font-family: Roboto-Medium, Roboto;
                      font-weight: 500;
                      color: #13B788;
                    }
                  }
                }
              }
  }
}
}
.invitationList1{
  .rankingWrap{
    .residualRanking{
      .head{
        span:nth-child(2){
          margin-left: 0;
        }
        span:nth-child(3){
          margin-left: 14%;
        }
      }
      .list{
                width: 100%;
                display: flex;
                flex-direction: column;
                >div{
                  p{
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    span:nth-child(1){
                      font-size: 16px;
                      // font-family: Roboto-Bold, Roboto;
                      font-weight: bold;
                      color: #333333;
                    }
                    span:nth-child(2){
                      flex: 1;
                      font-size: 16px;
                      // font-family: Roboto-Regular, Roboto;
                      font-weight: 400;
                      color: #333333;
                      margin-left: 10px;
                    }
                    span:nth-child(3){
                      font-size: 16px;
                      // font-family: Roboto-Medium, Roboto;
                      font-weight: 500;
                      color: #13B788;
                      width: 30%;
                    }
                  }
                }
              }
    }
  }
}
@media (max-width:1440px){
    .miningAwards{
       .miningFundList {
           width: 724px;
           padding-bottom: 39px;
           background: url('/img/m_蒙版 22@2x.png') no-repeat;
           background-size: 100% 100%;
           .poolingFund{
               flex-direction: column;
               padding-right: 40px;
               padding-top: 0;
               >div{
                  display: flex;
                  flex-direction: column;
                }
               .line{
                   width: 100%;
                   height: 0.5px;
                   background: rgba(186, 186, 186, 1);
               }
               .poolingFundContent{
                   width: 100%;
                   padding: 0;
                   justify-content: space-between;
                   padding-top: 31px;
                   p:nth-child(2){
                     align-items: flex-end;
                   }
               }
               .poolingFundContent:nth-child(1){
                   padding-bottom:35px;
               }
               .poolingFundContent:nth-child(3){
                   padding-left: 0;
                   border-left: 0;
               }
           }
       }
       .getMoreVLS{
         width: 724px;
         h3{
           border-bottom: 0;
         }
         .getMoreContent{
           flex-direction: column;
           >div{
             width: 100%;
             
           }
            > div:nth-child(1){
              border-right:0;
              padding-right: 16px;
            }
            > div:nth-child(2){
              padding-left: 14px;
              padding-right: 16px;
            }
         }
       }
       .rankingList{
          width: 724px;
       }
    } 
    .ruleDescription > div {
        width:724px;
    }
    .rankingLists,.invitationList{
      .ant-breadcrumb {
        span:nth-child(2){
          margin-left: -53%;
        }
        span:nth-child(3){
          width: 215px;
        }
      }
      >div{
        width: 724px;
        .rankingWrap{
          .topThreeList{
            .topOne{
              width: 267px;
            }
            .topTwo{
              width: 259px;
            }
            .topThree{
              width: 259px;
            }
          }
        } 
      }
    }
    .rankingLists{
      .residualRanking{
            .head{
              span:nth-child(1){
                width: 26%;
              }
              span:nth-child(2){
                width: 48%;
              }
            } 
            .list {
              flex-direction: column;
              >div{
                width: 100%;
              }
              >div:nth-child(2){
                padding-left:0;
              }
            }
          }
    }
    //收益明细
  .miningDetails{
    >div{
      width: 724px;
    }
      
  }
}
@media (min-width:1020px){
.rankingLists1,.invitationList1{
  .rankingWrap{
    .topThreeList{
      >div{
        width:33.8%;
      }
    }
  }
} 
}
